<% if flash[:sent_favorite] %>
  <div class="alert alert-success">
    <%= flash[:sent_favorite] %>
  </div>
<% end %>

<%= simple_form_for @sent_favorite, remote: true do |f| %>
  
  <% banner = @sent_favorite.banner %>
  <div class="well">
    <h4>
      <%= image_tag(banner.images.first.file.url(:thumb), class: 'img-thumbnail') if banner.images.any? %>
      <%= banner.title %>
    </h4>
  </div>

  <%= f.input_field :banner_id, as: :hidden %>

  <%= f.input :email, label: "Email de tu amigo" %>
  <%= f.input :message, label: "Mensaje", input_html:{rows: 4}, hint: 'opcional' %>
  <hr>
  <%= f.submit "Enviar mensaje", class: 'btn btn-primary btn-lg' %>

<% end %>