<p>Has recibido un nuevo mensaje para tu anuncio:</p>
<h3><%= link_to @banner.title, post_with_category_url(@banner) %></h3>
<hr>
<p>
  <strong>Nombre:</strong> <%= @request.name %><br>
  <strong>Email:</strong> <%= @request.email %><br>
  <strong>Teléfono:</strong> <%= @request.phone %><br>
  <strong>Mensaje:</strong><br>
  <%= simple_format @request.body %>
</p>