<% banner = @request.banner %>
<strong><%= @request.user.full_name %></strong> ha compartido contigo un enlace en AdultGuia:<br><br>
  
<div class="well" style="background:#fafafa; padding:8px;">
  <h3><%= link_to banner.title, post_with_category_url(banner) %></h3>
  <p><%= truncate strip_tags(banner.description), length: 100 %></p>
</div>

<% if @request.message.present? %>
  <p><strong>Mensaje de <%= @request.user.first_name %>:</strong></p>
  <%= simple_format @request.message %>
<% end %>