<p>Debes validar tu anuncio para que éste sea publicado.</p>
<p>Haz click en el seguiente link para validarlo</p>
<h3><%= link_to 'Validar anuncio', validate_banner_url(uuid: @banner.validation_uuid) %></h3>
