<div class="row">
  <div class="col-md-12">
    <h1>Anuncios</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for @q, url: super_banners_path, method: :get do |f| %>
          <div class="row">
            <div class="col-md-3">
              <%= f.input :title_cont, label: false, placeholder: "título" %>
            </div>
            <div class="col-md-3">
              <%= f.input :email_cont, label: false, placeholder: "email" %>
            </div>
            <div class="col-md-3">
              <%= f.input :phone_cont, label: false, placeholder: "teléfono" %>
            </div>
          </div>
          <%= f.submit "Filtrar", class: 'btn btn-sm btn-primary' %>
          <%= link_to "Mostrar todo", super_banners_path, class: 'btn btn-sm btn-default' %>
        <% end %>
      </div>
    </div>
    
    <%= form_tag delete_multiple_banners_super_banners_path do %>
      <div class="row">
        <div class="col col-md-6">
          <h4><%= @banners.total_count %> resultados</h4>    
        </div>
        <div class="col col-md-6 text-right">
          <% if @banners.any? %>
            <%= submit_tag 'Eliminar Seleccionados', data: {confirm: "¿Seguro?"}, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
      
      <% if @banners.any? %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th style="">
                <%= check_box_tag 'checkAll' %>
              </th>
              <th style=""><%= sort_link @q, :title, "Título" %></th>
              <th style=""><%= sort_link @q, :email, "Email" %></th>
              <th style=""><%= sort_link @q, :phone, "Telf" %></th>
              <th style=""><%= sort_link @q, :user_first_name, "Usuario" %></th>
              <th style="width:130px;"><%= sort_link @q, :created_at, "Fecha alta" %></th>
              <th style=""><%= sort_link @q, :impressions_count, "Visualizaciones" %></th>
              <th style=""><%= sort_link @q, :recommended, "Recomendado" %></th>
              <th style="width:160px"></th>
            </tr>
          </thead>
          <tbody>
            <% @banners.each do |b| %>
            <tr>
              <td>
                <%= check_box_tag 'delete_banner_id[]', b.id %>
              </td>
              <td><%= b.title %></td>
              <td><%= b.email %></td>
              <td><%= b.phone %></td>
              <td><%= b.user.full_name if b.user.present? %></td>
              <td><%= l b.created_at, format: :short %></td>
              <td><%= b.impressions_count %></td>
              <td><%= link_to '<i class="fa fa-star"></i>'.html_safe, toggle_recommended_super_banner_path(b), class: (b.recommended? ? 'btn btn-sm btn-success' : 'btn btn-sm btn-default')  %></td>
              <td>
                <%= link_to '<i class="fa fa-eye"></i>'.html_safe, post_permalink(b), target: '_blank', class: 'btn btn-default btn-sm' %>
                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_banner_url(b), class: 'btn btn-default btn-sm' %>
                <%= link_to '<i class="fa fa-money"></i>'.html_safe, super_payments_path(:q => {banner_id_eq: b.id}), title: "transacciones", class: 'btn btn-default btn-sm' %>
                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:super, b], method: :delete, data: {confirm: "¿Seguro?"}, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @banners %>
      <% end %><!-- Delete form -->
    <% end %>

  </div>
</div>

<script type="text/javascript">
  $("#checkAll").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
  });
</script>
