<%= form_tag super_similar_text_path do |f| %>
  <div class="row">
    
    <% if @similar_text %>
      <div class="col-md-12">
        <h1>
          SIMILARIDAD DE LOS TEXTOS:
          <%= @similar_text.round(2) %>
          %
        </h1>
      </div>
    <% end %>

    <div class="col-md-6">
      <label>TEXTO 1</label>
      <br>
      <%= text_area_tag :text1, params[:text1], rows: 5 , cols: 70 %>
    </div>
    <div class="col-md-6">
      <label>TEXTO 1</label>
      <br>
      <%= text_area_tag :text2, params[:text2], rows: 5 , cols: 70 %>
    </div>
  </div>

  <%= submit_tag "COMPARAR", class: 'btn btn-success btn-lg' %>

<% end %>
