<% if flash[:feedback_form] %>
  <div class="alert alert-success">
    <%= flash[:feedback_form] %>
  </div>
<% end %>

<%= simple_form_for @request, remote: true do |f| %>
  <%= f.input :email, label: "Email (por si necesitas respuesta)", hint: "NO obligatorio" %>
  <%= f.input :message, label: "¿Qué quieres que mejoremos?", input_html: {rows: 6} %>

  <div class="checkbox">
    <label>
      <%= f.check_box :accept_terms %> Acepto la <a href="<%= politica_privacidad_url %>" target="_blank" rel="nofollow">política de privacidad</a>
    </label>
  </div>
  <div class="has-error"><%= f.error :accept_terms %></div>
  
  <%= recaptcha_tags ajax: true %>
  <div class="has-error"><%= f.error :captcha %></div>

  <div style="margin-top:15px;">
    <%= f.submit "Enviar", class: 'btn btn-success btn-lg' %>
  </div>
  
<% end %>