<% content_for :meta_robots do %>
  <meta name="robots" content="noindex,follow" />
<% end %>

<div class="row">
  <div class="col-md-9">
    <div class="text-center">
      <h2><%= title "¿Qué quieres que mejoremos en AdultGuia?" %></h2>  
      <p>En AdultGuia queremos ofrecerte lo mejor para que este sea tu tube de porno de referencia, por ello nos gustaría que nos dijeras qué quieres que mejoremos o qué te gustaría que te diéramos que ahora no tenemos. Consigue el portal de porno que quieres, ¡sólo tienes que pedir!</p>  
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-wrap">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>

  <!-- sidebar -->
  <div class="col-md-3">
    <%= render 'posts/sidebar' %>
  </div>

</div>