<% content_for :js_init do %>

<script>
  (function(){
    var location = new LocationSelects('#user_form', '.selectize-states', '.selectize-cities');
  })();
</script>

<% end %>

<% nofollow %>

<div class="row">
  <div class="col-md-12">
    <h2><%= title "Mi cuenta" %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'user_form' }) do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="col-md-6">
          <%= f.input :email, label: "Email", required: true, autofocus: true %>
          <%= f.input :first_name, label: "Nombre", required: true %>
          <%= f.input :last_name, label: "Apellidos", required: true %>

          <label class="control-label">Localización</label>
          <div class="row">
            <div class="col-md-6">
              <%= f.association :state, label: false, collection: State.all, include_blank: t('provincia'), input_html:{class: 'selectize-states'} %>
            </div>
            <div class="col-md-6">
              <% selected_city = resource.state ? resource.state.cities : [] %>
              <%= f.association :city, collection: selected_city, label: false, placeholder: 'Ciudad', input_html:{class: 'selectize-cities'} %>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Actualmente esperando confirmación para: <%= resource.unconfirmed_email %></p>
          <% end %>

          <p>Si deseas cambiar tu contraseña, completa estos campos:</p>

          <%= f.input :password, label: "Contraseña", autocomplete: "off", hint: "déjala en blanco si no la quieres cambiar", required: false %>
          <%= f.input :password_confirmation, label: "Confirmar contraseña", required: false %>
        </div>
      </div>      
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :current_password, label: "Contraseña actual", hint: "se requiere tu contraseña actual para confirmar los cambios", required: true %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Actualizar", class: 'btn btn-lg btn-success' %>
      </div>
    <% end %>

  </div>
</div>