<% content_for :js_init do %>

<% content_for :meta_robots do %>
  <meta name="robots" content="noindex,follow" />
<% end %>

<script>
  (function(){
    var location = new LocationSelects('#user_form', '.selectize-states', '.selectize-cities');
  })();
</script>

<% end %>

<% nofollow %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Regístrate</h2>
  
    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'user_form'}) do |f| %>
        <%= f.error_notification %>

        <%#= resource.errors.inspect %>

        <div class="form-inputs">
          <%= f.input :first_name, label: "Nombre", autofocus: true %>
          <%= f.input :last_name, label: "Apellidos" %>
          <%= f.input :email, label: "Email" %>
          
          <label class="control-label">Localización</label>
          <div class="row">
            <div class="col-md-6">
              <%= f.association :state, label: false, collection: State.all, include_blank: t('provincia'), input_html:{class: 'selectize-states'} %>
            </div>
            <div class="col-md-6">
              <% selected_city = resource.state ? resource.state.cities : [] %>
              <%= f.association :city, collection: selected_city, label: false, placeholder: 'Ciudad', input_html:{class: 'selectize-cities'} %>
            </div>
          </div>

          <%= f.input :password, label: "Contraseña", hint: ("mínimo #{@minimum_password_length} caracteres" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Confirmar contraseña" %>

          
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Regístrate" %>
        </div>
      <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>