.discounts-table {
  clear:both;
  margin:0;
  background: #fafafa;
  border:0;

  .form-group {
    margin:0;
  }
}

.nested-fields.discount {
  a.remove {
    font-size: 18px;
    float:right;
  }
}