<h2>EDITAR BANNERS EXTERNOS</h2>

<%= simple_form_for [:super, @banner] do |f| %>
  <%= f.error_notification %>

  <% if Rails.configuration.x.app_country == "es" %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :es_desktop, label: 'DESKTOP ESPAÑA' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.input :es_mobile, label: 'MOBILE ESPAÑA' %>
      </div>
    </div>
  <% end %>

  <% if Rails.configuration.x.app_country == "mx" %>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :mx_desktop, label: 'DESKTOP MEXICO' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :mx_mobile, label: 'MOBILE MEXICO' %>
      </div>
    </div>
  <% end %>

  <%= f.submit "Guardar", class: 'btn btn-success btn-lg' %>
  <%= link_to "Volver", super_external_banners_path, class: 'btn btn-lg btn-default' %>

<% end %>
