<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "EDITAR", edit_super_external_banner_path(@banner), class: 'btn btn-success' %>
    </div>
    <h1>BANNERS EXTERNOS</h1>
    <% if Rails.configuration.x.app_country == "es" %>
      <row>
        <div class="col-md-6">
          <h4>BANNER DESKTOP ESPAÑA</h3>
          <%= @banner.es_desktop.html_safe %>
        </div>
        <div class="col-md-6">
          <h4>BANNER MOBILE ESPAÑA</h3>
          <%= @banner.es_mobile.html_safe %>
        </div>
      </row>
    <% end %>
    <% if Rails.configuration.x.app_country == "mx" %>
      <row>
        <div class="col-md-6">
          <h4>BANNER DESKTOP MEXICO</h3>
          <%= @banner.mx_desktop.html_safe %>
        </div>
        <div class="col-md-6">
          <h4>BANNER MOBILE MEXICO</h3>
          <%= @banner.mx_mobile.html_safe %>
        </div>
      </row>
    <% end %>
  </div>
</div>
