<% content_for :js_init do %>
  <script>
    (function(){
      var form = new BannerForm(<%= raw @banner.to_json %>);
    })();
  </script>
<% end %>
<% is_super = params[:controller].include?('super/') %>

<div id="gmap"></div>

<div class="row">
  
  <% form_url = is_super ? [:super, @banner] : @banner %>
  <%= simple_form_for form_url, html: {class: 'js-banner-form', id: "banner-form"} do |f| %>

  <div class="col-md-4 col-md-push-8">
    
    <% unless is_super %>
      <div class="post-advices">
        <h3>No olvides</h3>
        <ul>
          <li><i class="fa fa-check"></i> Elegir un título llamativo que no se repita en otros anuncios.</li>
          <li>
            <i class="fa fa-check"></i>
            <span>Publicar anuncios originales, NO repitas textos.</span>
            <br>
            <span style="color: red; padding-left: 14px">O SERAN ELIMINADOS</span>
          </li>
          <li><i class="fa fa-check"></i> Poner fotos para que tu anuncio tenga más éxito.</li>
          <li><i class="fa fa-check"></i> Poner el anuncio en la categoría adecuada.</li>
          <li><i class="fa fa-check"></i> <strong>Importante</strong>: revisar que tu teléfono sea el correcto.</li>
        </ul>
      </div>
    <% end %>
    
    <div class="banner-images">
      <%= link_to_add_association 'Agregar foto', f, :images, 'data-association-insertion-node'=>'.wrapper', 'data-association-insertion-traversal'=>'siblings', class: 'btn btn-default pull-right', 'data-association-insertion-method'=>'append', partial: "banners/image_fields" %>

      <h3>Fotos</h3> 
      <p class="text-info hint"><i class="fa fa-info-circle"></i> Puedes cambiar el orden de las fotos arrastrándolas con el icono de flechas. <strong>La primera imagen será la destacada</strong> y se mostrará en el listado de anuncios.</p>

      <div class="wrapper">
        <%= f.simple_fields_for :images do |i| %>
          <%= render 'banners/image_fields', f: i %>
        <% end %>
      </div>
    </div>
    
  </div>

  <div class="col-md-8 col-md-pull-4">

    <h2><%= title (@banner.new_record? ? "Nuevo anuncio" : "Editar anuncio") %></h2>
    
      <%= f.error_notification %>
      <%#= @banner.errors.inspect %>

      <%= f.input :title, label: "Título" %>
      <div class="row">
        <div class="col-md-6">
          <%= f.association :category, label: "Categoría", include_blank: "- Selecciona" %>
        </div>
        <div class="col-md-6">
          <%= f.input :price, label: "Precio del servicio" %>
        </div>
      </div>
      
      <label class="control-label">Localización</label>
      <div class="row">
        <div class="col-md-6">
          <%= f.association :state, label: false, collection: State.all, include_blank: t('provincia'), input_html:{class: 'selectize-states'} %>
        </div>
        <div class="col-md-6">
          <% selected_city = @banner.state ? @banner.state.cities : [] %>
          <%= f.association :city, collection: selected_city, label: false, placeholder: 'Ciudad', input_html:{class: 'selectize-cities'} %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <%= f.input :description, label: "Descripción", input_html: {class: 'summernote', data: {}} %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <%= f.input :email, label: "Email", hint: 'Tu email NO será publicado' %>
        </div>
        <div class="col-md-6">
          <%= f.input :phone, label: "Teléfono", hint: "Sin espacios. #{Rails.application.secrets.phone_digits} caracteres exactos." %>
        </div>
      </div>

      <%= f.input :alerts, label: "Recibir alertas" %>
      <%= f.input :visible_from, label: 'Visible a partir de' %>
      
      <% if is_super %>
        <div class="well">
          <h4>SEO</h4>
          <%= f.input :meta_title %>
          <%= f.input :meta_desc %>
        </div>
      <% end %>
      
      <hr>
      <%= f.submit "Guardar anuncio", class: 'btn btn-lg btn-success' %>
      <%= link_to "Cancelar y volver", (is_super ? super_banners_url : banners_path), class: 'btn btn-lg btn-default' %>

  </div>

  <% end %>

</div>