<div class="nested-fields image">
  <%= f.input_field :position, as: :hidden %>
  <%= f.input_field :id, as: :hidden %>

  <div class="actions">
    <a href="#" class=" move-up"><i class="fa fa-arrow-up"></i></a>
    <a href="#" class=" move-down"><i class="fa fa-arrow-down"></i></a>
    <%= link_to_remove_association '<i class="fa fa-times"></i>'.html_safe, f, class: 'remove-item' %>
  </div>

  <%= f.input :file, label: "Imagen" %>
  <%= f.input_field :file_cache, as: :hidden %>
  
  <% if f.object.file? %>
    <%= link_to image_tag(f.object.file.url(:thumb)), f.object.file.url(:large), "data-fancybox" => "images", rel: 'gallery' %>
  <% end %>
</div>
