<% content_for :meta_robots do %>
  <meta name="robots" content="noindex,follow" />
<% end %>

<% content_for :js_init do %>
  <script>
    (function(){
      var form = new BannerForm(<%= raw @banner.to_json %>);
    })();
  </script>
<% end %>

<div class="row">
  
  <%= simple_form_for @banner, url: anon_create_banner_path, method: :post, html: {class: 'js-banner-form', id: "banner-form"} do |f| %>

  <div class="col-md-4 col-md-push-8">
    
    <div class="post-advices">
      <h3>No olvides</h3>
      <ul>
        <li><i class="fa fa-check"></i> Elegir un título llamativo que no se repita en otros anuncios.</li>
        <li>
          <i class="fa fa-check"></i>
          <span>Publicar anuncios originales, NO repitas textos.</span>
          <br>
          <span style="color: red; padding-left: 14px">O SERAN ELIMINADOS</span>
        </li>
        <li><i class="fa fa-check"></i> Poner fotos para que tu anuncio tenga más éxito.</li>
        <li><i class="fa fa-check"></i> Poner el anuncio en la categoría adecuada.</li>
        <li><i class="fa fa-check"></i> <strong>Importante</strong>: revisar que tu teléfono sea el correcto.</li>
      </ul>
    </div>
    
    <div class="banner-images">
      <%= link_to_add_association 'Agregar foto', f, :images, 'data-association-insertion-node'=>'.wrapper', 'data-association-insertion-traversal'=>'siblings', class: 'btn btn-default pull-right', 'data-association-insertion-method'=>'append', partial: "banners/image_fields" %>

      <h3>Fotos</h3> 
      <p class="text-info hint"><i class="fa fa-info-circle"></i> Puedes cambiar el orden de las fotos arrastrándolas con el icono de flechas. <strong>La primera imagen será la destacada</strong> y se mostrará en el listado de anuncios.</p>

      <div class="wrapper">
        <%= f.simple_fields_for :images do |i| %>
          <div class="nested-fields image">
            <%= f.input_field :position, as: :hidden %>
            <%= f.input_field :id, as: :hidden %>

            <div class="actions">
              <a href="#" class=" move-up"><i class="fa fa-arrow-up"></i></a>
              <a href="#" class=" move-down"><i class="fa fa-arrow-down"></i></a>
              <%= link_to_remove_association '<i class="fa fa-times"></i>'.html_safe, f, class: 'remove-item' %>
            </div>

            <%= f.input :file, label: "Imagen" %>
            <%= f.input_field :file_cache, as: :hidden %>
            
            <% if f.object.file? %>
              <%= link_to image_tag(f.object.file.url(:thumb)), f.object.file.url(:large), "data-fancybox" => "images", rel: 'gallery' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>

  <div class="col-md-8 col-md-pull-4">

    <h2><%= title "Nuevo anuncio" %></h2>
    
      <%= f.error_notification %>
      <%#= @banner.errors.inspect %>

      <%= f.input :title, label: "Título" %>
      <div class="row">
        <div class="col-md-6">
          <%= f.association :category, label: "Categoría", include_blank: "- Selecciona" %>
        </div>
        <div class="col-md-6">
          <%= f.input :price, label: "Precio del servicio" %>
        </div>
      </div>
      
      <label class="control-label">Localización</label>
      <div class="row">
        <div class="col-md-6">
          <%= f.association :state, label: false, collection: State.all, include_blank: t('provincia'), input_html:{class: 'selectize-states'} %>
        </div>
        <div class="col-md-6">
          <% selected_city = @banner.state ? @banner.state.cities : [] %>
          <%= f.association :city, collection: selected_city, label: false, placeholder: 'Ciudad', input_html:{class: 'selectize-cities'} %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <%= f.input :description, label: "Descripción", input_html: {class: 'summernote', data: {}} %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <%= f.input :email, label: "Email", hint: 'Tu email NO será publicado' %>
        </div>
        <div class="col-md-6">
          <%= f.input :phone, label: "Teléfono", hint: "Sin espacios. #{Rails.application.secrets.phone_digits} caracteres exactos." %>
        </div>
      </div>

      <%= f.input :alerts, label: "Recibir alertas" %>
      <%= f.input :visible_from, label: 'Visible a partir de' %>

      <hr>

       <div class="row">
        <div class="col-md-12">
          <h3>Registrate o inicia sesión con tu Email y Contraseña</h3>
        </div>
      </div>

      <% if @user && @user.errors.present? %>
        <div class="hidden-print alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <div class="content">
            <%= @user.errors.full_messages.join(', ') %>
          </div>
        </div>
      <% end %>

      <!--
      <div class="row">
        <div class="col-md-6">
          <div class="form-group string required">
            <label class="control-label required" for="user_first_name"><abbr title="requerido">*</abbr> Nombre</label>
            <%#= text_field_tag :user_first_name, nil, required: 'required', class: "form-control string required" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group string required">
            <label class="control-label required" for="user_last_name"><abbr title="requerido">*</abbr> Apellidos</label>
            <%#= text_field_tag :user_last_name, nil, required: 'required', class: "form-control string required" %>
          </div>
        </div>
      </div>
      -->

      <div class="row">
        <div class="col-md-6">
          <div class="form-group string required">
            <label class="control-label required" for="user_email"><abbr title="requerido">*</abbr> Email</label>
            <%= email_field_tag :user_email, nil, required: 'required', class: "form-control string required" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group string required">
            <label class="control-label required" for="user_password"><abbr title="requerido">*</abbr> Contraseña</label>
            <%= password_field_tag :user_password, nil, required: 'required', class: "form-control string required" %>
          </div>
        </div>
      </div>

      <!--
      <div class="row">
        <div class="col-md-6">
          <div class="form-group string required">
            <label class="control-label required" for="user_password"><abbr title="requerido">*</abbr> Contraseña</label>
            <%#= password_field_tag :user_password, nil, required: 'required', class: "form-control string required" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group string required">
            <label class="control-label required" for="user_password_confirmation"><abbr title="requerido">*</abbr> Confirmar Contraseña</label>
            <%#= password_field_tag :user_password_confirmation, nil, required: 'required', class: "form-control string required" %>
          </div>
        </div>
      </div>
      -->

      <%= f.submit "Guardar anuncio", class: 'btn btn-lg btn-success' %>
      <%= link_to "Cancelar y volver", root_path, class: 'btn btn-lg btn-default' %>

  </div>

  <% end %>

</div>
