<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Nuevo anuncio', new_banner_path, class: 'btn btn-success' %>
    </div>
    
    <h1><%= title "Mis anuncios" %></h1>

    <% if @banners.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th class="hidden-xs">Categoría</th>
          <th class="hidden-xs">Ubicación</th>
          <th class="hidden-xs">Visualizaciones</th>
          <th class="" style="width:120px"></th>
        </tr>
      </thead>

      <tbody>
        <% @banners.each do |banner| %>
          <tr>
            <td>
              <%= link_to banner.title, post_permalink(banner) %>
              <% unless banner.validated %>
                <br />
                (Aún no has validado este anuncio)
                <%= link_to 'Reenviar email de validación', resend_email_validation_path(id: banner.slug) %>
              <% end %>
            </td>
            <td class="hidden-xs"><%= banner.category.title %></td>
            <td class="hidden-xs"><%= banner.location_name %></td>
            <td class="hidden-xs">
              Anuncio: <%= banner.impressions_count %><br>
              Telf: <%= banner.phone_views.size %>
            </td>
            <td class="">
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_banner_path(banner), class: 'btn btn-sm btn-default' %>
              <%= link_to '<i class="fa fa-star"></i>'.html_safe, "#{post_permalink(banner)}#post_payment_options", title: "Mejora tu plan", class: 'btn btn-sm btn-default' %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, banner, method: :delete, data: { confirm: '¿Estas seguro?' }, class: 'btn btn-sm btn-default' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @banners %>
    <% else %>
      <p>Aun no has creado ningún anuncio. <%= link_to "Crea uno aquí", new_banner_path %></p>
    <% end %>
    

  </div>
</div>