<% nofollow %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Modificar contraseña</h2>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs">
            <%= f.input :password, label: "Nueva contraseña", required: true, autofocus: true, hint: ("mínimo #{@minimum_password_length} caracteres" if @minimum_password_length) %>
            <%= f.input :password_confirmation, label: "Confirmar contraseña", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Modificar contraseña" %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>