<div class="nested-fields discount">

  <%= f.input_field :id, as: :hidden %>

  <%= link_to_remove_association '<i class="fa fa-times"></i>'.html_safe, f, class: 'remove' %>
  
  <table class="discounts-table table table-condensed">
    <tbody>
      <tr>
        <td>Dias</td>
        <td></td>
        <td>% descuento</td>
      </tr>
      <tr>
        <td><%= f.input :days_from, label: false, placeholder: "desde" %></td>
        <td><%= f.input :days_to, label: false, placeholder: "hasta" %></td>
        <td><%= f.input :discount, label: false %></td>
      </tr>
    </tbody>
  </table>
  

</div>