<h2>Editar tipo de pago</h2>

<%= simple_form_for [:super, @type] do |f| %>

  <div class="row">
    
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <%= f.input :title, label: "Título" %>
          <%= f.input :description, label: "Descripción" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :price, label: "Precio" %>
        </div>
      </div>
      <% if @type.publish_banner? %>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :active, label: "Activo?" %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <%= f.submit "Guardar", class: 'btn btn-success btn-lg' %>
          <%= link_to "Volver", super_payment_types_path, class: 'btn btn-default btn-lg' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      
      <% if @type.discount_elegible? %>
      <div class="type-discounts">
        <%= link_to_add_association 'Agregar linea', f, :discounts, 'data-association-insertion-node'=>'.wrapper', 'data-association-insertion-traversal'=>'siblings', class: 'btn btn-default pull-right', 'data-association-insertion-method'=>'append' %>
        <h3>% Descuentos</h3>    

        <div class="clearfix"></div>
        <div class="wrapper">
          <%= f.simple_fields_for :discounts do |i| %>
            <%= render 'discount_fields', f: i %>
          <% end %>
        </div>
      </div>  
      <% end %>
      
    </div>

  </div>

<% end %>