<div class="row">
  <div class="col-md-12">
    <h1>Tipos de pago</h1>
    
    <h4><%= @types.total_count %> resultados</h4>
    <% if @types.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style="width:200px">Título</th>
            <th style="">Desc</th>
            <th class="" style="width:140px">Precio base</th>
            <th style="width:100px"></th>
          </tr>
        </thead>
        <tbody>
          <% @types.each do |type| %>
          <tr>
            <td><%= type.title %></td>
            <td><%= type.description %></td>
            <td class=""><%= show_money(type.price) %></td>
            <td>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_payment_type_path(type), class: 'btn btn-default btn-sm' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @types %>
    <% end %>

  </div>
</div>