<div class="row">
  <div class="col-md-12">
    <h4><%= title %></h4>
    <hr />
    <% if @banners.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style=""><%= "Título" %></th>
            <th style=""><%= "Email" %></th>
            <th style=""><%= "Telf" %></th>
            <th style=""><%= "Usuario" %></th>
            <th style="width:130px;"><%= "Fecha alta" %></th>
            <th style=""><%= "Visualizaciones" %></th>
            <th style="width:160px"></th>
          </tr>
        </thead>
        <tbody>
          <% @banners.each_with_index do |b,i| %>
            <% if b.is_a?(String) && !@banners[i-1].is_a?(String) %>
              <tr><td colspan="7" style="background-color: lightgray;">&nbsp;</td></tr>
            <% elsif !b.is_a?(String) %>
              <tr>
                <td><%= b.title %></td>
                <td><%= b.email %></td>
                <td><%= b.phone %></td>
                <td><%= b.user.full_name if b.user.present? %></td>
                <td><%= l b.created_at, format: :short %></td>
                <td><%= b.impressions_count %></td>
                <td>
                  <%= link_to '<i class="fa fa-eye"></i>'.html_safe, post_permalink(b), target: '_blank', class: 'btn btn-default btn-sm', target: '_blank' %>
                  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_banner_url(b), class: 'btn btn-default btn-sm', target: '_blank' %>
                  <%= link_to '<i class="fa fa-money"></i>'.html_safe, super_payments_path(:q => {banner_id_eq: b.id}), title: "transacciones", class: 'btn btn-default btn-sm', target: '_blank' %>
                  <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:super, b], method: :delete, data: {confirm: "¿Seguro?"}, class: 'btn btn-danger btn-sm', target: '_blank' %>
                </td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
