<ul>
  <li><%= link_to 'Anuncios con Título Repetido', super_duplicated_title_reports_path %></li>
  <li><%= link_to 'Anuncios con Título Similar', super_similar_title_reports_path %></li>
  <li><%= link_to 'Anuncios con Contenido Repetido', super_duplicated_content_reports_path %></li>
  <li><%= link_to 'Anuncios con Contenido Similar', super_similar_content_reports_path %></li>
  <li><%= link_to 'Reporte de Usuarios y Anuncios', super_users_reports_path %></li>
</ul>
