<div class="row">
  <div class="col-md-12">
    <h3>
      <%= "Reporte de Usuarios, # de Anuncios y Pagos #{@filter_msg}" %>
    </h3>
    
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_tag super_users_reports_path, method: :get do |f| %>
          <div class="row">
            <div class="col-md-12">
              <%= select_tag 'week', options_for_select(@weeks), label: false, placeholder: "USUARIOS CREADOS EN LA SEMANA", class: 'form-control' %>
            </div>
          </div>
          <br />
          <%= submit_tag "Filtrar Anuncios creados en la semana seleccionada", class: 'btn btn-sm btn-primary' %>
          <%= link_to "Mostrar todo", super_users_reports_path, class: 'btn btn-sm btn-default' %>
        <% end %>
      </div>
    </div>

    <h4><%= @users.total_count %> Usuarios</h4>
    <% if @users.any? %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Ubicación</th>
          <th>Anuncios</th>
          <th># Pagos</th>
          <th>$ Pagos</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <% if @week.present? %>
            <% banners = u.banners.where('banners.created_at between ? and ?', @week, @week + 1.week) %>
          <% else %>
            <% banners = u.banners %>
          <% end %>

          <tr>
            <td><%= u.full_name %></td>
            <td><%= u.email %></td>
            <td><%= u.location_name %></td>
            <td>
              <%= banners.count %>
              <%#= banners.last.created_at.strftime("%B %d, %Y") if banners.count > 0 %>
            </td>
            <td><%= banners.joins(:payments).count %></td>
            <td><%= banners.joins(:payments).sum(:total) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
    <% end %>

  </div>
</div>