<% if flash[:contact_request] %>
  <div class="alert alert-success">
    <%= flash[:contact_request] %>
  </div>
<% end %>

<%= simple_form_for @contact_request, remote: true do |f| %>

  <%= f.input_field :banner_id, as: :hidden %>

  <%= f.input :name, label: "Tu nombre" %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :email, label: "Email" %>
    </div>
    <div class="col-md-6">
      <%= f.input :phone, label: "Teléfono" %>
    </div>
  </div>
  <%= f.input :body, label: "Mensaje", input_html:{rows: 4} %>
  <hr>

  <div class="alert alert-warning">
    * Estos campos son obligatorios
  </div>
  <%= f.submit "Enviar mensaje", class: 'btn btn-primary btn-lg' %>

<% end %>