<div id="contact_request_modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="fa fa-envelope"></i> Contactar por email</h4>
      </div>
      <div class="modal-body">
        <%= render 'banner_contact_requests/form' %>
      </div>
    </div>
  </div> 
</div>