<% content_for :meta_robots do %>
  <meta name="robots" content="noindex,follow" />
<% end %>

<h1>CONDICIONES DE USO DEL SERVICIO</h1>

<p>Las presentes Condiciones generales de uso (en adelante, Condiciones) regulan el uso y acceso al servicio mediante el sitio web adultguia.com (en adelante, la Plataforma), titularidad de <%= image_tag('legal/nombremarca.png') %>, SL (en adelante <%= image_tag('legal/nombremarca.png') %>) para usuarios registrados y usuarios visitantes de la Plataforma (en adelante, <strong>Usuario</strong> o <strong>Usuarios</strong>). </p>

<p>La Plataforma ofrece un servicio para la inserción de anuncios eróticos en donde <%= image_tag('legal/nombremarca.png') %> actúa como mero intermediario entre los <strong>Usuarios</strong> que insertan anuncios en la Plataforma y los <strong>Usuarios</strong> de la Plataforma que consultan dichos anuncios.  Por lo que <%= image_tag('legal/nombremarca.png') %> no participa en ningún caso en la prestación de cualquier posible servicio ofrecido a través de los anuncios que son insertados en la Plataforma.  
</p>

<h2>Acceso y Registro</h2>

<p>
  Para poder ser <strong>Usuario</strong> de la Plataforma es indispensable que se cumplan los siguientes requisitos:
</p>

<ul>
  <li>Haber cumplido o ser mayor de 18 años de edad.</li>
  <li>Cumplimentar de manera veraz los campos obligatorios del formulario de registro, en el que se solicitan datos de carácter personal.</li>
</ul>

<p>El <strong>Usuario</strong> garantiza que todos los datos sobre su identidad y legitimidad facilitados a <%= image_tag('legal/nombremarca.png') %> en sus formularios de registro de la Plataforma son veraces, exactos y completos. Asimismo se compromete a mantener actualizados sus datos. En el supuesto de que el <strong>Usuario</strong> facilite cualquier dato falso, inexacto o incompleto o si <%= image_tag('legal/nombremarca.png') %> considera que existen motivos fundados para dudar sobre la veracidad, exactitud e integridad de los mismos, <%= image_tag('legal/nombremarca.png') %> podrá denegarle el acceso y uso presente o futuro de la Plataforma o de cualquiera de sus contenidos y/o servicios. 
</p>

<p><%= image_tag('legal/nombremarca.png') %> no puede garantizar la identidad de los <strong>Usuarios</strong> registrados, por tanto, no será responsable del uso de la identidad de un <strong>Usuario</strong> registrado por terceros no registrados. El <strong>Usuario</strong> se obliga a poner inmediatamente en conocimiento de <%= image_tag('legal/nombremarca.png') %> la sustracción, divulgación o pérdida de su username o password, comunicándolo a <%= image_tag('legal/emailempresa.png') %>
</p>

<h2>Obligaciones del <strong>Usuario</strong></h2>

<p>El <strong>Usuario</strong> es responsable de contar con los servicios y equipos necesarios para la navegación por Internet y para acceder a la Plataforma. En caso de cualquier incidencia o dificultad para acceder a la Plataforma, el <strong>Usuario</strong> puede informarlo a <%= image_tag('legal/nombremarca.png') %> que procederá a analizar la incidencia y dará indicaciones al <strong>Usuario</strong> acerca de cómo resolverla en el plazo más breve posible.</p>

<p>El <strong>Usuario</strong> es completamente responsable del acceso y correcto uso de su perfil y demás contenidos y servicios de la Plataforma con sujeción a la legalidad vigente, sea nacional o internacional, así como a los principios de buena fe, a la moral, buenas costumbres y orden público. Y específicamente, adquiere el compromiso de observar diligentemente las presentes Condiciones. 
</p>

<p>Los <strong>Usuarios</strong> se abstendrán de usar su perfil y el resto de contenidos de la Plataforma con fines o efectos ilícitos y que sean lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, afectar o deteriorar la Plataforma, sus contenidos y sus servicios. Asimismo, queda prohibido impedir la normal utilización o disfrute de la Plataforma a otros <strong>Usuarios</strong>.</p>

<p>Quienes incumplan tales obligaciones responderán de cualesquier perjuicio o daño que ocasionen. <%= image_tag('legal/nombremarca.png') %> no responderá de ninguna consecuencia, daño o perjuicio que pudieran derivarse de dicho acceso o uso ilícito por parte de terceros.
</p>

<p>En general, el <strong>Usuario</strong> se compromete, a título enunciativo y no taxativo, a:
</p>

<ul>
  <li>No utilizar la Plataforma para fines ilegales o no autorizados;</li>
  <li>No alojar, almacenar, divulgar, publicar, distribuir o compartir cualquier contenido que pueda suponer una intromisión ilegítima o vulneración en cualquier forma de los derechos fundamentarles al honor, imagen e intimidad personal y familiar de terceros y, muy especialmente, de los menores de edad;</li>
  <li>No publicar en ningún apartado de la Plataforma ni en su perfil o el de otro <strong>Usuario</strong> ningún comentario o información que sea ilegal, racista, xenófoba, obscena, pornográfica, abusiva, difamatoria, engañosa, fraudulenta o de cualquier forma contraria a la moral o al orden público;</li>
  <li> No alterar o modificar, total o parcialmente la Plataforma, eludiendo, desactivando o manipulando de cualquier otra las funciones o servicios de la misma; </li>
  <li>No infringir los derechos de propiedad industrial e intelectual o las normas reguladoras de la  protección de datos de carácter personal;</li>
  <li>No usar la Plataforma para injuriar, difamar, intimidar, violar la propia imagen o acosar a otros <strong>Usuarios</strong>; </li>
  <li>No acceder a las cuentas de correo electrónico de otros <strong>Usuarios</strong>;</li>
  <li>No introducir virus informáticos, archivos defectuosos, o cualquier otro programa informático que pueda provocar daños o alteraciones en los contenidos o sistemas de <%= image_tag('legal/nombremarca.png') %> o terceras personas;</li>
  <li>No remitir correos electrónicos con carácter masivo y/o repetitivo a una pluralidad de personas, ni enviar direcciones de correo electrónico de terceros sin su consentimiento; </li>
  <li>No realizar acciones publicitarias de bienes o servicios sin el previo consentimiento de <%= image_tag('legal/nombremarca.png') %>. </li>
</ul>

<p>
  Cualquier <strong>Usuario</strong> podrá reportar a otro <strong>Usuario</strong> cuando considere que está incumpliendo las presentes Condiciones, asimismo todos los <strong>Usuarios</strong> pueden informar a <%= image_tag('legal/nombremarca.png') %> de cualquier abuso o vulneración de las presentes condiciones, a través del correo electrónico  <%= image_tag('legal/emailempresa.png') %>. <%= image_tag('legal/nombremarca.png') %> verificará este reporte, a la mayor brevedad posible, y adoptará las medidas que considere oportunas, reservándose el derecho a retirar y/o suspender a cualquier <strong>Usuario</strong> de la Plataforma por el incumplimiento de las presentes Condiciones. Asimismo <%= image_tag('legal/nombremarca.png') %> se reserva el derecho a retirar y/o suspender cualquier mensaje con contenido ilegal u ofensivo, sin necesidad de previo aviso o posterior notificación. 
</p>

<h2>Requisitos para la inserción de anuncios </h2>

<p>Los <strong>Usuarios</strong> deberán cumplir plenamente con los siguientes requisitos en la inserción de anuncios en la Plataforma. Aquellos anuncios que no cumplan con la totalidad de los siguientes requisitos podrán ser eliminados, aun cuando hubieran devengado un pago entre el <strong>Usuario</strong> y <%= image_tag('legal/nombremarca.png') %>:
</p>

<ul type="disc">
    <li>
        El <strong><strong>Usuario</strong></strong> es mayor de edad y publica el anuncio por
        iniciativa propia y siendo libre de cualquier presión externa.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no utiliza fotografías falsas, que no
        correspondan a la persona o servicio anunciado, o de las que el
        anunciante no tenga autorización suficiente (Derechos de imagen,
        Copyright).
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no debe utilizar teléfonos falsos.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no debe utilizar teléfonos de tarificación
        premium (Ej. que empiezan por 806, 807, etc.) Tampoco debe utilizar
        teléfonos de fuera de España. Tampoco se permiten promociones de
        servicios SMS premium de tarificación especial. Únicamente se pueden
        utilizar teléfonos fijos y móviles de cualquier operador en el Estado
        español.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> debe evitar enviar anuncios duplicados. La
        Plataforma cuenta con servicios complementarios para destacar los
        anuncios.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no puede utilizar direcciones de email
        falsas.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no debe insertar fotos en el campo "texto"
        del anuncio. Existen herramientas específicas para ello en el
        formulario de publicación de anuncios.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no debe utilizar <em>iframes </em>dentro
        del campo "texto" del anuncio o cualquier otro elemento html o
        javascript que haga visualizar dentro del anuncio elementos alojados
        fuera de los servidores de la Plataforma.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> deberá seleccionar la categoría de anuncio
        que corresponda a riesgo de que sea eliminado en caso de encontrarse en
        la categoría errónea.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no debe utilizar anuncios o enlaces de
        otras webs de clasificados eróticos.
    </li>
    <li>
        El <strong><strong>Usuario</strong></strong> no debe utilizar repetitivamente palabras
        clave en el anuncio.
    </li>
</ul>

<p>En algunos casos, y dependiendo de la gravedad del incumplimiento, es posible que <%= image_tag('legal/nombremarca.png') %> elimine únicamente las imágenes y siga manteniendo el anuncio.
</p>

<h2>Tarifas y Servicios</h2>

<p>El uso de la Plataforma es por lo normal gratuito, sin embargo determinados servicios como insertar un anuncio en una categoría determinada de la Plataforma o servicios para destacar los anuncios dentro de la Plataforma pueden implicar un coste económico que el <strong>Usuario</strong> deberá revisar y aceptar las condiciones del mismo que se desplegarán en el momento de contratación. <%= image_tag('legal/nombremarca.png') %> se reserva el derecho a decidir la forma de pago que estime oportuna para cada anunciante así como la posibilidad de denegar la opción de publicar anuncios a determinados <strong>Usuarios</strong>.
</p>

<h2>Responsabilidad de <%= image_tag('legal/nombremarca.png') %> </h2>

<p><%= image_tag('legal/nombremarca.png') %> no tiene obligación de controlar y no controla la utilización que los <strong>Usuarios</strong> hacen de la Plataforma y, por consiguiente, no garantiza que los <strong>Usuarios</strong> utilicen la Plataforma de conformidad con lo establecido en las presentes Condiciones, ni que hagan un uso diligente y/o prudente de la misma. <%= image_tag('legal/nombremarca.png') %> no tiene la obligación de verificar y no verifica la identidad de los <strong>Usuarios</strong>, ni la veracidad, vigencia, exhaustividad y/o autenticidad de los datos que los mismos proporcionan.   
</p>

<p><%= image_tag('legal/nombremarca.png') %> excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que pudieran deberse a la utilización ilícita de la Plataforma por parte de los <strong>Usuarios</strong> o que puedan deberse a la falta de veracidad, vigencia, exhaustividad y/o autenticidad de la información que los <strong>Usuarios</strong> proporcionan a otros <strong>Usuarios</strong>, así como por los daños y perjuicios de toda naturaleza que puedan deberse a la suplantación de la personalidad de un tercero efectuada por un <strong>Usuario</strong> en cualquier clase de comunicación realizada a través de la Plataforma. 
</p>

<p><%= image_tag('legal/nombremarca.png') %> no participa en ningún caso en la prestación de cualquier posible servicio ofrecido a través de los anuncios que son insertados en la Plataforma. Por lo que, en ningún caso podrá considerarse a <%= image_tag('legal/nombremarca.png') %> responsable por:
</p>

<ul>
  <li>El nivel de calidad prestado en los servicios ofrecidos a través de los anuncios de la Plataforma. </li>
  <li>Las consecuencias de la no ejecución de servicios ofrecidos a través de los anuncios de la Plataforma.</li>
  <li>Cualquier tipo de daños materiales, personales o de cualquier índole que se produzcan durante la ejecución de servicios ofrecidos a través de los anuncios de la Plataforma por parte de cualquier <strong>Usuario</strong>.</li>
</ul>

<p>Sin perjuicio de lo anterior, <%= image_tag('legal/nombremarca.png') %> se reserva la facultad de limitar, total o parcialmente, el acceso a la Plataforma a determinados <strong>Usuarios</strong>, así como de cancelar, suspender, bloquear o eliminar determinado tipo de contenidos, mediante la utilización de instrumentos tecnológicos aptos al efecto, si tuviese conocimiento efectivo de que la actividad o la información almacenada es ilícita o de que lesiona bienes o derechos de un tercero. En este sentido, <%= image_tag('legal/nombremarca.png') %> podrá establecer los filtros necesarios a fin de evitar que a través del servicio puedan verterse en la red contenidos ilícitos o nocivos.
</p>

<p><%= image_tag('legal/nombremarca.png') %> no responderá en caso de interrupciones del servicio, errores de conexión, falta de disponibilidad o deficiencias en el servicio de acceso a Internet, ni por interrupciones de la red de Internet o por cualquier otra razón ajena a su control. 
</p>

<p><%= image_tag('legal/nombremarca.png') %> no se hace responsable de los errores de seguridad que se puedan producir ni de los daños que puedan causarse al sistema informático del <strong>Usuario</strong> (hardware y software),  a los ficheros o documentos almacenados en el mismo, como consecuencia de:
</p>

<ul>
  <li>La presencia de un virus en el sistema informático o terminal móvil del <strong>Usuario</strong> que sea utilizado para la conexión a los servicios y contenidos de la Plataforma;</li>
  <li>Un mal funcionamiento del navegador;</li>
  <li>Del uso de versiones no actualizadas del mismo.</li>
</ul>

<h2>Propiedad Intelectual </h2>

<p><%= image_tag('legal/nombremarca.png') %> es titular o licenciataria de los derechos de propiedad intelectual e industrial que recaen sobre los textos, diseño gráfico, estructura de navegación, redacciones, marcas de terceros, look and feel y todas las funcionalidades de la Plataforma. Como consecuencia de ello corresponde a <%= image_tag('legal/nombremarca.png') %> el ejercicio exclusivo de los derechos de explotación de los mismos en cualquier forma y, en especial, los derechos de reproducción, distribución, comunicación pública y transformación, de conformidad con la legislación española de derechos de propiedad intelectual e industrial. La autorización al <strong>Usuario</strong> para el acceso a la Plataforma no supone renuncia, transmisión, licencia o cesión total ni parcial sobre derechos de propiedad intelectual o industrial por parte de <%= image_tag('legal/nombremarca.png') %>.
</p>

<p>No está permitido suprimir, eludir o manipular de ningún modo los contenidos de la Plataforma de <%= image_tag('legal/nombremarca.png') %> Asimismo está prohibido modificar, copiar, reutilizar, explotar, reproducir, comunicar públicamente, hacer segundas o posteriores publicaciones, cargar archivos, enviar por correo, transmitir, usar, tratar o distribuir de cualquier forma la totalidad o parte de los contenidos incluidos en la Plataforma de <%= image_tag('legal/nombremarca.png') %> para propósitos públicos o comerciales, si no se cuenta con la autorización expresa y por escrito de <%= image_tag('legal/nombremarca.png') %> o, en su caso, del titular de los derechos a que corresponda. 
</p>

<h2>Contenido compartido por el <strong>Usuario</strong> </h2>

<p>El <strong>Usuario</strong> garantiza a <%= image_tag('legal/nombremarca.png') %> que cuenta con la totalidad de los derechos de propiedad intelectual, o bien cuenta con las autorizaciones suficientes, sobre el contenido que comparta con <%= image_tag('legal/nombremarca.png') %> para su comunicación pública y reproducción a través de la Plataforma sin que pueda vulneran ninguna normativa, contrato, derecho, interés o propiedad de terceros. 
</p>

<p><%= image_tag('legal/nombremarca.png') %> no se hace responsable del uso de imágenes, texto, enlaces o cualquier otro contenido por parte del <strong>Usuario</strong> a la hora de realizar las recomendaciones, que pueda estar vulnerando cualquier derecho de terceros. <%= image_tag('legal/nombremarca.png') %> se reserva el derecho a ejercitar en contra del <strong>Usuario</strong> cuantas acciones le correspondan legalmente para la protección de sus intereses en caso de sufrir cualquier reclamación por parte de terceros.
</p>

<h2>Independencia de las Cláusulas</h2>

<p>Si cualquiera de las cláusulas de las presentes Condiciones fuera nula de pleno derecho o anulable, se tendrá por no puesta. Dicha declaración de nulidad no invalidará el resto de las Condiciones, que mantendrá su vigencia y eficacia entre las partes. 
</p>

<p>Si cualquier cláusula de las presentes Condiciones fuese declarada, total o parcialmente, nula o ineficaz, tal nulidad o ineficacia afectará tan solo a dicha disposición o a la parte de la misma que resulte nula o ineficaz, y las Condiciones subsistirán en todo lo demás, teniéndose tal disposición o la parte de la misma que resulte afectada por no puesta. 
</p>

<h2>Procedimiento de reclamación
</h2>

<p>En el caso de que un <strong>Usuario</strong> considere que existen hechos o circunstancias que revelen el carácter indebido o ilícito en la utilización de cualquier contenido o actividad en los anuncios insertados en la Plataforma. En particular, de la violación de derechos de propiedad intelectual o industrial o el incumplimiento de los deberes y obligaciones previstas en estas Condiciones o la vulneración de otros derechos, deberá enviar un email a <%= image_tag('legal/emailempresa.png') %> informando a <%= image_tag('legal/nombremarca.png') %> y en el que se contengan los siguientes extremos:
</p>

<p>(a)  Datos personales del reclamante: nombre completo, dirección, número de teléfono y dirección de correo electrónico;</p>
<p>(b) Especificación de la supuesta actividad ilícita llevada a cabo en la Plataforma y, en particular, cuando se trate de una supuesta violación de derechos, indicación precisa y concreta de los contenidos protegidos así como de su localización en la Plataforma;</p>
<p>(c)   Hechos o circunstancias que revelan el carácter ilícito de dicha actividad;</p>
<p>(d) En el supuesto de violación de derechos, con los datos personales del titular de los derechos supuestamente infringidos.</p>
<p>(e) Declaración expresa, clara y bajo la responsabilidad del reclamante de que la información proporcionada en la notificación es exacta y del carácter indebido de la utilización de los contenidos o de la realización de las actividades descritas.</p>

<p><%= image_tag('legal/nombremarca.png') %> procederá de inmediato a adoptar las medidas para la subsanación o la eliminación, en su caso de los citados datos. 
</p>

<h2>Actualización y Modificación de la Plataforma</h2>

<p><%= image_tag('legal/nombremarca.png') %> podrá modificar las presentes Condiciones en cualquier momento mediante correo electrónico, o a través de la sección de mensajes internos de la Plataforma o publicando los términos modificados en la Plataforma. Todos los términos modificados entrarán en vigor automáticamente a los 30 días de haber sido publicados.
</p>

<p>Asimismo, <%= image_tag('legal/nombremarca.png') %> se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, actualizaciones, modificaciones o eliminación de información contenida en su Plataforma en la configuración y presentación de ésta y de las condiciones de acceso, sin asumir responsabilidad alguna por ello.
</p>

<h2>Legislación Aplicable
</h2>

<p>Las presentes Condiciones se regirán por la legislación española, que será de aplicación en lo no dispuesto en estas Condiciones en materia de interpretación, validez y ejecución. Asimismo ambas partes se someten, con renuncia expresa a cualquier otro fuero, a los Juzgados y Tribunales de Barcelona.
</p>

<p>La Comisión europea recientemente ha puesto a disposición de los consumidores de la Unión Europea la plataforma de resolución de litigios en línea para resolver los litigios que se produzcan en el comercio electrónico de forma amistosa (artículo 14 apartado 1 Reglamento (UE) 524/2013) por lo cual los <strong>Usuarios</strong> de la Plataforma tienen derecho presentar reclamaciones en el siguiente enlace: <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=ES">https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=ES</a>. 
</p>