<div class="row">
  <div class="col-md-12">
    <h1>Homepage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptas magnam, blanditiis deserunt sequi repellendus neque vel dicta, laborum dolores illum amet doloremque recusandae dolor quas. Ratione aperiam, cumque ipsum?</p>
  </div>
</div>