<% content_for :meta_robots do %>
  <meta name="robots" content="noindex,follow" />
<% end %>

<h1>POLÍTICA DE PRIVACIDAD Y COOKIES</h1>

<p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, se exponen los siguientes datos identificativos del prestador del servicio a través del sitio web <strong>adultguia.com </strong>(en adelante, el sitio web):
</p>

<p>-Prestador: <strong><%= image_tag('legal/nombre.png') %></strong></p>
<p>-Domicilio: <strong>Passeig del Bosc, 14 del CP 08490 de Tordera</strong></p>
<p>-<strong><%= image_tag('legal/nif_empresa.png') %></strong></p>
<p>-Registro: <strong>Registro Mercantil de Barcelona, tomo 45221 folio 50 hoja 480820 inscripción 1</strong></p>
<p>-Correo electrónico: <%= image_tag('legal/emailempresa.png') %></p>

<h2>Uso de los datos</h2>

<p><%= image_tag('legal/nombre.png') %> (en adelante, <%= image_tag('legal/nombremarca.png') %>) conforme a la legislación vigente en materia de Protección de Datos de Carácter Personal, informa a los usuarios de su sitio web (en adelante el Usuario o Usuarios), acerca de su Política de Privacidad y Protección de Datos que aplicará en el tratamiento de los datos personales que el Usuario facilite voluntariamente al acceder al sitio web.</p>

<p>El Usuario, al proporcionar a <%= image_tag('legal/nombremarca.png') %> sus datos de carácter personal a través de los de los diferentes apartados del sitio web, consiente a que <%= image_tag('legal/nombremarca.png') %> pueda tratar esos datos en los términos de esta cláusula de Política de Privacidad. Antes de contactar con <%= image_tag('legal/nombremarca.png') %> a través de cualquiera de las vías puestas a disposición del Usuario a través del sitio web, los Usuarios deben leer esta Política de Privacidad y Protección de Datos. Al contactar a <%= image_tag('legal/nombremarca.png') %>, el Usuario acepta la presente Política de Privacidad.</p>


<p>El Usuario se compromete a introducir datos reales y veraces a través de cualquier de las vías de contacto puestas a disposición del Usuario a través del sitio web. Asimismo, será el único responsable de los daños y perjuicios que <%= image_tag('legal/nombremarca.png') %> o terceros pudieran sufrir como consecuencia de la falta de veracidad, inexactitud, falta de vigencia y autenticidad de los datos facilitados.</p>

<h2>Protección de Datos</h2>

<p>A los efectos de lo dispuesto en la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal, los datos personales que nos facilite a través de correo electrónico o en los diferentes apartados del sitio web, están protegidos bajo la Ley Orgánica de Protección de Datos de carácter personal 15/1999 (LOPD) y otra normativa de Protección de Datos relacionada. En su cumplimiento, los datos personales que se traten en el sitio web están declarados en un fichero de titularidad privada ante la Agencia Española de Protección de Datos, con la finalidad de responder a las consultas, gestionar los servicios ofrecidos a través del sitio web  o enviar información sobre nuestros servicios y promociones siempre que el Usuario no se haya opuesto a dicha utilización.</p>

<p>El responsable de los ficheros es <%= image_tag('legal/nombre.png') %> con domicilio en Passeig del Bosc, 14 del CP 08490 de Tordera. En esta misma dirección, o bien enviando un correo electrónico a <%= image_tag('legal/emailempresa.png') %>, el afectado podrá ejercitar los derechos de acceso, rectificación, cancelación y oposición de los datos, enviando una solicitud escrita y firmada incluyendo nombre, apellidos, fotocopia del DNI, actuación que solicita y domicilio a fin de remitirle la confirmación de su actuación conforme a su solicitud.</p>

<p>En todo caso, <%= image_tag('legal/nombremarca.png') %> garantiza la salvaguarda de la confidencialidad y seguridad de los datos personales, habiendo adoptado las medidas legalmente exigidas de seguridad, que permiten razonablemente asegurar la protección de sus datos personales y evitar la pérdida, mal uso, alteración, tratamiento o acceso no autorizado de los mismos.</p>

<p>Los datos personales facilitados no serán cedidos a terceros sin autorización previa por parte del titular de los mismos.</p>

<p><%= image_tag('legal/nombremarca.png') %> podrá revisar y actualizar esta Política de Privacidad oportunamente, notificándolo mediante la publicación de la nueva política en el sitio web. El Usuario es responsable de consultar esta Política de Privacidad de manera periódica. Al continuar accediendo al sitio web, el Usuario acepta la Política de Privacidad revisada.</p>

<h2>Política de Cookies</h2>

<p><%= image_tag('legal/nombremarca.png') %> utiliza cookies para ayudar a mejorar el servicio del Usuario del sitio Web  midiendo el uso y el rendimiento del sitio web así como para optimizarlo y personalizarlo.</p>

<p>Las Cookies son ficheros enviados a un navegador por medio de un servidor web para registrar las actividades del Usuario en una web determinada. La primera finalidad de las Cookies es la de facilitar al Usuario un acceso más rápido a los servicios seleccionados. Además, las Cookies personalizan los servicios que ofrece el sitio web, facilitando y ofreciendo a cada usuario información que es de su interés o que puede ser de su interés, en atención al uso que realiza de los servicios del sitio web.</p>

<p>Los Usuarios registrados en el sitio web podrán beneficiarse de unos servicios más personalizados y orientados a su perfil, gracias a la combinación de los datos almacenados en las cookies con los datos personales utilizados en el momento de su registro. Dichos Usuarios autorizan expresamente el uso de esta información con la finalidad indicada, sin perjuicio de su derecho a rechazar o deshabilitar el uso de cookies.</p>

<p>Asimismo, el sitio web podrá saber todos los servicios solicitados por los Usuarios, de forma que podrán facilitar u ofrecer información adecuada a los gustos y preferencias de cada Usuario.</p>

<p>Es posible que el sitio web contenga enlaces a otros sitios webs, en este sentido <%= image_tag('legal/nombremarca.png') %> no controla las cookies utilizadas por estos sitios webs externos. Para más información sobre las cookies de los sitios webs ajenos, aconsejamos revisar sus propias políticas de cookies.</p>

<p>La legislación vigente nos obliga a solicitar la conformidad del Usuario para poder gestionar las cookies. En caso que el Usuario decida no autorizar su uso, <%= image_tag('legal/nombremarca.png') %> no almacenará ninguna cookie y  tan sólo se usarían las cookies técnicas dado que sin ellas no es posible navegar por el sitio web. En caso de seguir navegando por el sitio web y no denegar la autorización, dicha actividad implicará la aceptación de su uso.</p>

<p>Las cookies utilizadas en la web son las siguientes:</p>

<table class="table table-bordered">
<tbody>
<tr>
<td><strong>Cookie</strong></td>
<td><strong>Descripción</strong></td>
<td><strong>Duración</strong></td>
<td><strong>Tipo</strong></td>
</tr>
<tr>
<td><strong>Lang</strong></td>
<td><em>Preferencia de idioma: Se utiliza para recordar qué idioma escogió el visitante en su sesión.</em></td>
<td><em>1 año</em></td>
<td><strong>Propias</strong></td>
</tr>
<tr>
<td><strong>.Asp.Net.ApplicationCookie</strong></td>
<td><em>Información de usuario autenticado, cuando el usuario desea que el navegador recuerde su usuario.</em></td>
<td><em>2 semanas</em></td>
<td><em>Propias</em></td>
</tr>
<tr>
<td><strong>__utma</strong></td>
<td><em>Identificación de visitantes únicos: Utilizada para registrar visitantes únicos con fines estadísticos y analíticos.</em></td>
<td><em>2 años</em></td>
<td><em>Google</em>

<em>(Analytic)</em></td>
</tr>
<tr>
<td><strong>__utmb</strong></td>
<td><em>Determinación de la sesión del visitante: Google Analytics utiliza dos cookies para establecer una sesión. Si falta alguna de estas dos cookies, otra actividad inicia el comienzo de una nueva sesión.</em></td>
<td><em>30 minutos</em></td>
<td><em>Google</em>

<em>(Analytic)</em></td>
</tr>
<tr>
<td><strong>__utmc</strong></td>
<td><em>Determinación de la sesión del visitante: Google Analytics utiliza dos cookies para establecer una sesión. Si falta alguna de estas dos cookies, otra actividad inicia el comienzo de una nueva sesión.</em></td>
<td><em>Sesión</em></td>
<td><em>Google</em>

<em>(Analytic)</em></td>
</tr>
<tr>
<td width="121"><strong>__utmz</strong></td>
<td width="155"><em>Registro de fuentes de tráfico y navegación: Utilizado para registrar cómo llegó a nuestro sitio Web (por una búsqueda de Google, un aviso, etc.) y los recorridos que sigue mientras navega nuestro sitio. Utilizamos esta información para mejorar la experiencia del usuario en futuras actualizaciones.</em></td>
<td width="58"><em>6 meses</em></td>
<td width="92"><em>Google</em>

<em>(Analytic)</em></td>
</tr>
</tbody>
</table>

<p>El Usuario puede restringir, bloquear o borrar las cookies del sitio web utilizando su navegador. En cada navegador la operativa es diferente, a continuación se facilitan los enlaces a los principales navegadores sobre cómo realizar dichas modificaciones:</p>

<ul>
  <li><a href="http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-10"><strong>Internet Explorer</strong></a></li>
  <li><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"><strong>FireFox</strong></a></li>
  <li><a href="https://support.google.com/chrome/answer/95647?hl=es"><strong>Chrome</strong></a></li>
  <li><a href="http://www.apple.com/es/privacy/use-of-cookies/"><strong>Safari</strong></a></li>
</ul>

<p>En caso de realizar modificaciones en la configuración de las cookies, <%= image_tag('legal/nombremarca.png') %> informa de que no asegura el correcto funcionamiento de las distintas funcionalidades del sitio web.</p>

<p><%= image_tag('legal/nombremarca.png') %> puede modificar la presente Política de Cookies en función de las exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha Política a las instrucciones dictadas por la Agencia Española de Protección de Datos, por ello se aconseja a los Usuarios del sitio web que la visiten periódicamente.</p>

<p>Cuando se produzcan cambios significativos en la presente Política de Cookies, se comunicarán a los Usuarios bien mediante el sitio web o a través de correo electrónico a los Usuarios registrados.</p>