<h2><%= @category.new_record? ? "Nueva" : "Editar" %> categoria</h2>

<%= simple_form_for [:super, @category] do |f| %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :title, label: "Título" %>
    </div>
  </div>

  <%= f.submit "Guardar", class: 'btn btn-success btn-lg' %>
  <%= link_to "Volver", super_banner_categories_path, class: 'btn btn-lg btn-default' %>

<% end %>