<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Nueva categoria", new_super_banner_category_path, class: 'btn btn-success' %>
    </div>
    <h1>Categorias</h1>
    
    <h4><%= @categories.total_count %> resultados</h4>
    <% if @categories.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style="">Título</th>
            <th style=""></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |cat| %>
          <tr>
            <td><%= cat.title %> <span class="badge"><%= cat.banners_count %></span></td>
            <td>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_banner_category_path(cat), class: 'btn btn-default btn-sm' %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:super, cat], method: :delete, data: {confirm: "¿Seguro?"}, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @categories %>
    <% end %>

  </div>
</div>