<% content_for :js_init do %>
  <script>
    (function(){
      $('.configs select').on('change', function(e){
        var form = $(this).closest('form');
        var url = form.attr('action');
        var val = $(this).val();
        $.ajax({
          url: url,
          data: { app_setting: {value: val} },
          type: 'PUT',
          dataType: 'json',
          success: function(res) {
            // console.log(res);
          }
        });
      });
    })();
  </script>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h1>Configuraciones</h1>
    <table class="table table-bordered configs">
      <tbody>
        <% @settings.each do |ss| %>
          <tr>
            <td><%= ss.key %></td>
            <td>
              <%= simple_form_for [:super, ss] do |f| %>
                <%= f.input :value, collection: ['true', 'false'], label: false, include_blank: false %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>