<div class="row">
  <div class="col-md-12">
    <h1>Transacciones</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for @q, url: super_payments_path, method: :get do |f| %>
          <div class="row">
            <div class="col-md-3">
              <%= f.input :payment_type_id_eq, label: "Tipo pago", collection: PaymentType.all, include_blank: "- Todos" %>
            </div>
            <div class="col-md-2">
              <label for="">No. dias</label><br>
              <%= f.input_field :num_days_gteq, placeholder: 'desde' %>
              <%= f.input_field :num_days_lteq, placeholder: 'hasta' %>
            </div>
            <div class="col-md-2">
              <label for="">Total</label><br>
              <%= f.input_field :total_gteq, placeholder: 'desde', class: '' %>
              <%= f.input_field :total_lteq, placeholder: 'hasta', class: '' %>
            </div>
          </div>
          <%= f.submit "Filtrar", class: 'btn btn-sm btn-primary' %>
          <%= link_to "Mostrar todo", super_payments_path, class: 'btn btn-sm btn-default' %>
        <% end %>
      </div>
    </div>
    
    <h4><%= @payments.total_count %> resultados</h4>
    <% if @payments.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style=""><%= sort_link @q, :banner_title, "Anuncio" %></th>
            <th style=""><%= sort_link @q, :payment_type_title, "Tipo pago" %></th>
            <th style=""><%= sort_link @q, :num_days, "No. dias" %></th>
            <th style=""><%= sort_link @q, :created_at, "Fecha" %></th>
            <th style=""><%= sort_link @q, :expire_at, "Expiración" %></th>
            <th class="text-right" style=""><%= sort_link @q, :total, "Total" %></th>
            <th class="text-right" style=""><%= sort_link @q, :discount_percent, "Descuento" %></th>
            <th style=""></th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |p| %>
          <tr>
            <td><%= link_to p.banner.title, post_permalink(p.banner), target: "_blank" %></td>
            <td><%= p.payment_type.title %></td>
            <td><%= p.num_days %></td>
            <td><%= l p.created_at, format: :short %></td>
            <td><%= l p.expire_at, format: :short if p.expire_at %></td>
            <td class="text-right"><%= show_money p.total %></td>
            <td class="text-right"><%= "#{number_with_precision (p.discount_percent*100), precision: 2}%" if p.discount_percent > 0 %></td>
            <td>
              <%= link_to '<i class="fa fa-eye"></i>'.html_safe, [:super, p], class: 'btn btn-default btn-sm' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @payments %>
    <% end %>

  </div>
</div>