<%= link_to "Volver atrás", super_payments_path, class: 'btn btn-default' %>

<div class="row">
  <div class="col-md-5">
    <h3>Detalles del pago</h3>
    <table class="table">
      <tr>
        <td>Anuncio</td>
        <td><%= link_to @payment.banner.title, post_permalink(@payment.banner), target: "_blank" %></td>
      </tr>
      <tr>
        <td>Tipo pago</td>
        <td><%= @payment.payment_type.title %></td>
      </tr>
      <tr>
        <td>Num. dias</td>
        <td><%= @payment.num_days %></td>
      </tr>
      <tr>
        <td>Precio / dia</td>
        <td><%= show_money @payment.price %></td>
      </tr>
      <tr>
        <td>Descuento</td>
        <td><%= number_with_precision (@payment.discount_percent*100), precision: 2 %>%</td>
      </tr>
      <tr>
        <td>Total</td>
        <td><%= show_money @payment.total %></td>
      </tr>
      <tr>
        <td>Fecha de alta</td>
        <td><%= l @payment.created_at, format: :short %></td>
      </tr>
      <% if @payment.expire_at %>
        <tr>
          <td>Fecha expiración</td>
          <td><%= l @payment.expire_at, format: :short %></td>
        </tr>
      <% end %>
    </table>

    <!-- pack custom -->
    <% if @existing_schedules.present? %>
      <div class="alert alert-warning">
        <h4><i class="fa fa-calendar"></i> Subidas programadas de este pago:</h4>
        <ul>
          <% @existing_schedules.each do |dd| %>
            <li><%= l dd, format: :short %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

  <div class="col-md-7">
    <% pp = @payment.paypal_response %>
    <h3>Información PayPal</h3>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>ID transacción</td>
          <td><%= pp.transaction_id %></td>
        </tr>
        <tr>
          <td>Tipo pago</td>
          <td><%= pp.payment_type %></td>
        </tr>
        <tr>
          <td>Total</td>
          <td><%= show_money pp.amount.total %></td>
        </tr>
        <tr>
          <td>Comisión PayPal</td>
          <td><%= show_money pp.amount.fee %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>