<% content_for :meta_robots do %>
  <meta name="robots" content="noindex,follow" />
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Iniciar sesión</h2>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, label: "Email", autofocus: true %>
          <%= f.input :password, label: "Contraseña" %>
          <%= f.input :remember_me, label: "Recuérdame", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Iniciar sesión" %>
        </div>
      <% end %>
      </div>
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>