@import 'variables';

body.app.banners {

  .post-advices {
    h3 {
      text-transform: uppercase;
      color:$brand-primary-dark;
    }
    ul {
      margin:0;
      padding:0;
      li {
        list-style: none;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $gray-lighter;
      }
    }
  }
  
}