@import 'variables';

body.app {

  background: $brand-primary-dark;

  header {
    background: $brand-primary;
    text-align: center;
    // margin-bottom: 20px;

    > .container {
      position: relative;
    }

    a.new-post {
      background: #f0c14b;
      text-transform: uppercase;
      padding:8px 20px;
      color:#fff;
      &:link, &:visited {
        color:#fff;
      }
      &:hover, &:active {
        color:#fff;
        background: darken(#f0c14b, 6%);
      }
    }

    a.top-button {
      text-transform: uppercase;
      padding:8px 20px;
      background: #892232;
      text-transform: uppercase;
      padding:8px 20px;
      color:#fff;
      &:link, &:visited {
        color:#fff;
      }
      &:hover, &:active {
        color:#fff;
        background: darken(#892232, 6%);
      }
    }

    a.deco-none {
      color:#000000 !important;
      text-decoration:none;
    }

    .bg-menu:hover {
      background-color:#0079C1;
      color:#FFFFFF;
    }


    .brand {
      line-height: 70px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    // nav de login, signup, etc...
    ul.user-nav {
      padding:0;
      margin:0 0 10px 0;
      display: flex;

      a:link, a:visited {
        color:#fff;
      }

      .dropdown.open {
        .dropdown-toggle {
          text-decoration: none;
          padding-bottom: 3px;
          border-bottom: 2px solid $brand-primary-dark;
        }
      }

      > li {
        list-style: none;
        padding:6px 12px;
        flex: 1;

        > a {
          text-decoration: none;
        }

        > a:hover, > a:active {
          text-decoration: none;
          padding-bottom: 3px;
          border-bottom: 2px solid $brand-primary-dark;
        }
        .dropdown-menu li {
          a {
            color:$brand-primary-dark;
          }
        }
      }
    }
    
    // buscador de cueros
    .posts-search {
      background: $brand-primary-dark;
      margin:20px 0 0 0;
      padding:12px 0;

      .form-group {
        margin-bottom: 6px;
      }
      .form-control {
        // background: $brand-primary-dark;
        border-color:#fff;
        // color:#fff;
        // @include placeholder(lighten($brand-primary-dark, 30%));
      }
      .col {
        margin-bottom: 6px;
      }
      .col.title {
        color:#fff;
        label {
          font-size: 20px;
          font-weight: normal;
          line-height: 34px;
          margin:0;
        }
      }
    }

    @media (min-width: $screen-sm-min) {

      .new-post {
        background: #f0c14b;
        text-transform: uppercase;
        padding:8px 20px;
        color:#fff;
        &:link, &:visited {
          color:#fff;
        }
        &:hover, &:active {
          color:#fff;
          background: darken(#f0c14b, 6%);
        }
      }

      a.top-button {
        text-transform: uppercase;
        padding:8px 20px;
        background: #892232;
        text-transform: uppercase;
        padding:8px 20px;
        color:#fff;
        &:link, &:visited {
          color:#fff;
        }
        &:hover, &:active {
          color:#fff;
          background: darken(#892232, 6%);
        }
      }

      ul.user-nav {
        display: block;
        position: absolute;
        top:30px;
        left:15px;

        > li {
          float:left;
        }
      }

      .form-group {
        margin-bottom: 0;
      }

      .brand {
        line-height: 100px;
      }

      .posts-search {
        padding: 0;
        margin-top: 0;

        .wrap {
          display: flex;
          flex-direction: row;
          margin: 15px;

          .col {
            flex: 100 0 0;
            padding:5px;
            margin-bottom: 0;
            text-align: left;
          }
          .col.loc {
            flex: 150 0 0;
          }
          .col.title {
            i {
              padding-top: 9px;
            }
            flex: 110 0 0;
          }
          .col.cat {
            flex: 150 0 0;
          }
          .col.term {
            flex: 200 0 0;
          }
          .col.reset {
            flex: 40 0 0;
            a {
              // padding-top: 9px;
              // padding-bottom: 9px;
            }
          }
        }
      }

    }

  }
  
  #page-body {
    background: #fff;
    padding:20px 0 40px 0;
    @media (min-width: $screen-sm-min) {
      min-height: 600px;
    }
  }

  footer {
    // margin-top: 40px;
    line-height: 50px;
    color:#fff;
    background: $brand-primary-dark;
    line-height: normal;
    padding: 20px 0;

    .legal {
      a {
        display: block;
        margin-bottom: 20px;
      }
      a:link, a:visited {
        color:#fff;
      }
      a:hover, a:active {
        color:#ddd;
      }
    }
    
    @media (min-width: $screen-sm-min) {
      min-height: 120px;
      .legal {
        float:right;
        a {
          display: inline;
          margin:0;
          padding-left: 20px;
        }
      }
    }

  }
}