@import 'variables';

body.app.payments {

  &.new, &.create {

    span.help-block {
      color: red;
    }
    
    // inline days checkboxes
    .check_boxes.payment_aplicable_days_of_week {
      overflow: auto;
      .control-label {
        display: block;
      }
      .checkbox {
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
      }
    }

    .payment-schedules {
      margin:20px 0;

      .nested-fields {
        // margin:0 0 5px 0;
        clear: both;
        overflow: auto;

        .parsley-errors-list {
          display: none;
        }
        a.remove {
          line-height: 34px;
          padding:0 10px;
        }

        .sm {
          width:60px;
          margin-right: 2px;
        }
        .form-group, label {
          float:left;
        }
        label {
          line-height: 34px;
          padding:0 10px;
        }
        .parsley-error {
          border-color:red;
        }
      }

    }

    .payment-total {
      border-top: 1px solid #ddd;
      padding-top: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .payment-form.auto {
      .form-group, label {
        display: inline-block;
      }
      .sm {
        width:80px;
      }
      .parsley-error {
        border-color:red;
      }
      .parsley-errors-list {
        display: none;
      }
    }

  }

}