@import 'variables';

body.app.posts {

  &.index {
  }

  &.show {

    a.promote-post {
      text-transform: uppercase;
      padding:8px 20px;
      background: #f0c14b;
      color: black;
    }

    .post-paginator {
      overflow: auto;
      background: $brand-blue;
      margin-top: -20px;
      margin-bottom: 20px;
      // line-height: 50px;
      a {
        font-size: 28px;
      }
      a:link, a:visited {
        color:#fff;
      }
      a:hover, a:active {
        color:$brand-primary;
      }
    }

    .actions {
      margin-top:20px;
      span {
        font-size: 18px;
        padding-left: 10px;
      }
    }

    .post-heading {

      // h1 {
      //   font-size: 23px;
      // }

      .location-date {
        font-size: 16px;
        // line-height: 40px;
        color:$gray-light;
      }

    }
    
    .post-body {
      font-size: 14px;
      margin:40px 0;

      .contact-info {
        text-align: center;
        margin-top:30px;

        h3 {
          margin:0 0 20px 0;
          text-transform: uppercase;
          color:$brand-primary; 
        }
        a.btn {
          text-transform: uppercase;
          margin:0 0 5px 0;
        }
        .phone {
          font-size: 28px;

          .hint {
            font-size: 16px;
            display: block;
            color:$gray-light;
          }
        }
        .email {
          font-size: 16px;
          margin:20px 0 0 0;
        }
      }
    }
    
    .post-gallery {
      .item {
        margin-bottom: 15px;
        img {
          max-width: 100%;
        }
      }
    }

    .payment-options {
      .well {
        box-shadow: none;
      }
      .alert {
        padding:8px;
      }
      h3 {
        margin-bottom: 20px;
      }
      h4 {
        margin-top: 0;
      }
      .payment-form {
        input#days {
          display: inline-block;
          width:140px;
          margin-bottom: 10px;
        }
        .total-amount {
          display: inline-block;
          line-height: 32px;
          font-weight: bold;
          padding-left: 10px;
        }
        input[type=submit] {

        }
        .parsley-errors-list {
          margin-top: 0;
        }
        
      }
    }
    
    @media (min-width: $screen-sm-min) {
      .actions {
        float:right;
      }

      .contact-info {

      }
    }

  }

}