@import 'variables';

h1 {
  font-size: 23px;
  margin-top: 0;
}

.breadcrumbs {
  margin:0 0 20px 0;
  padding:0;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 4px;
    a {
      padding:2px 4px;
      background: #fafafa;
      display: inline-block;
    }
  }
}

.fav-button {
  a:link, a:visited {
    color:$gray-light;
  }
  a:hover, :active {
    color:$brand-primary;
  }
  &.faved {
    a:link, a:visited {
      color:$brand-primary;
    }
  }
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 300px;
}

.box-placeholder {
  background: #EDEDED;
  color:#999;
  min-height: 300px;
  margin-bottom: 10px;
  line-height: 300px;
  text-align: center;
}

.feedback_box {
  margin-bottom: 20px;
}

.parsley-error {
  // background: #EDDBCD;
}

ul.parsley-errors-list {
  margin:8px 0;
  padding:0 0 0 20px;
  li {
    margin:0 0 4px 10px;
    color:red;
  }
}

.list-heading {
  padding:14px 8px;
  // background: #ADADAD;
  // color:#fff;
  border-bottom: 2px solid #E4E4E4;

  &--top {
    background: $brand-blue;
    color:#fff;
    border-bottom: 0;
  }
}

.pagination {
  .page.active {
    a {
      background: $brand-primary;
      border-color: $brand-primary;
      color:#fff;
    }
  }
  a:link, a:visited {
    color:$brand-primary;
  }
}

.items-list.posts {
  // top anuncios
  &.top {
    // border-bottom: 2px solid #ddd;
    margin: {
      bottom: 20px;
    }
    padding: {
      bottom: 20px;
    }
  }

  .item {
    padding:10px;
    margin-bottom: 5px;
    overflow: auto;
    background: #fafafa;

    &.featured {
      background: lighten($brand-pink, 20%);
    }

    .location-cat {
      color:$gray-light;
      font-size: 13px;
    }

    .meta-info {
      font-size: 14px;
      color:$gray-light;

      > span {
        padding-right: 10px;
      }
    }

    .item-heading {
      margin-top: 0;
      font-size: 18px;
    }

    .item-body {
      // font-size: 13px;
    }
    
    mark {
      background: #F5E26D;
    }

    .thumb {
      width: 120px;
      height: 120px;
      float:left;
      background: #ddd;
      margin: 0 10px 0 0;
    }
  }
}

.flags_box {
  padding:15px;
  background: #fafafa;
  margin-bottom: 20px;
  a {
    padding-right: 15px;
    // display: block;
    // text-align: center;
  }
}

.most-viewed-posts {
  padding:15px;
  background: #fafafa;
  margin-bottom: 20px;

  h4 {
    font-size: 15px;
  }
  .item {
    margin-top:8px;
    padding-top:8px;
    border-top:1px solid #E7E7E7;

    &:first-child {
      border-top: 0;
    }

    .item-heading {
      margin-top: 0;
      font-size: 13px;
    }

    .location-cat {
      color:$gray-light;
      font-size: 11px;
    }
  }
}

.states-box {
  padding:15px;
  background: #fafafa;
  margin-bottom: 20px;
  a {
    padding-right: 15px;
  }
}

.states-column {
  padding-left: 5px;
  padding-right: 5px;
}
