<div class="nested-fields">
  <%= link_to_remove_association '<i class="fa fa-times"></i>'.html_safe, f, class: 'remove' %>
  
  <%= f.input_field :id, as: :hidden %>
  
  <%#= f.input :date, label: false, as: :string, input_html:{ class: 'datepicker' } %>
  <label>A las:</label>
  <%= f.input :time_hour, label: false, pattern: "^([0-9]|0[0-9]|1[0-9]|2[0-3])$", placeholder: '00', input_html:{ class: 'sm' } %>
  <%= f.input :time_min, label: false, pattern: "^[0-5][0-9]$", placeholder: '00', input_html:{ class: 'sm' } %>

  <%= f.error :date %>
  <%= f.error :invalid_date %>

</div>