<% if @existing_schedules.present? %>
  <div class="alert alert-info existing-schedules">
    <h4><i class="fa fa-exclamation-triangle"></i> Actualmente tienes <%= @existing_schedules.size %> subidas programadas para este anuncio:</h4>
    <ul>
      <% @existing_schedules.each do |dd| %>
        <li><%= l dd, format: :short %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @payment, html: {class: 'payment-form custom'} do |f| %>

  <div class="row">
    <div class="col-md-8">
      <%= f.error :schedule_errors %>
      
      <div class="row">
        <div class="col-md-6">
          <h4>Número de veces</h4>
          <%= f.input :num_days, label: 'Indica el número de veces que deseas subir tu anuncio', input_html: {min: 1} %>

          <%= f.input :aplicable_days_of_week, label: 'Dias que quieres que salga', collection: Payment::DAYS_OF_WEEK, as: :check_boxes, input_html: {multiple: true} %>

          <%= f.input :start_date, as: :string, label: '¿Cuando quieres empezar a aparecer?', input_html: {class: 'start-date-picker'} %>
        </div>
        <div class="col-md-6">
          <h4>Horas</h4>
          <p>Selecciona la(s) hora(s) a las que deseas subir tu anuncio. Para agregar otra hora haz click en "Agregar otra hora".</p>
          <p>El formato de hora es de 0:00 a 24:00, así las 7:15 son de la mañana y las 19:15 de la tarde.</p>

          <div class="payment-schedules">
            <div class="wrapper">
              <%= f.simple_fields_for :schedules do |s| %>
                <%= render 'schedule_fields', f: s %>
              <% end %>
            </div>
            <%= f.error :time_errors %>
            <div class="clearfix"></div>
            <%= link_to_add_association 'Agregar otra hora', f, :schedules, 'data-association-insertion-node'=>'.wrapper', 'data-association-insertion-traversal'=>'siblings', 'data-association-insertion-method'=>'append', class: 'btn btn-default btn-sm' %>
          </div>
        </div>
      </div>

      <%= f.input_field :banner_id, as: :hidden %>
      <%= f.input_field :payment_type_id, as: :hidden %>
      
    </div>
    
    <div class="col-md-4">
      <% if @type.discounts.any? %>
        <h5>Precios según volumen</h5>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Rango</th>
              <th>Descuento</th>
              <th>Precio / día</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 dia</td>
              <td></td>
              <td>
                <%= number_with_precision @payment.price, precision: 2 %>
                <%= money_symbol %>
              </td>
            </tr>
            <% @type.discounts.each do |d| %>
            <tr>
              <td><%= "#{d.days_from}-#{d.days_to} días" %></td>
              <td><%= d.discount.to_i %>%</td>
              <td>
                <%= @type.price - (@type.price * (d.discount/100)).round(2) %>
                <%= money_symbol %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>

  <div class="payment-total">
    <strong>Coste del servicio</strong> (IVA inc): <span></span>
  </div>

  <%= f.submit "Confirmar pedido", class: 'btn btn-primary btn-lg submit-form' %>

<% end %>