<%= simple_form_for @payment, html: {class: 'payment-form auto'} do |f| %>

  <div class="row">
    <div class="col-md-8">
      <%= f.error :schedule_errors %>

      <%#= @payment.errors.inspect %>
      <%#= @payment.total %>

      <%= f.input_field :banner_id, as: :hidden %>
      <%= f.input_field :payment_type_id, as: :hidden %>

      <p>El formato de hora es de 0:00 a 24:00, así las 7:15 son de la mañana y las 19:15 de la tarde.</p>

      <div class="row">
        <div class="col-md-4">
          <label for="">Número de dias</label>
          <%= f.input :num_days, label: false, required: true, input_html: { min: 1, max: 999 } %>
        </div>
        <div class="col-md-6">
          <label for="">A las</label>
          <%= f.input :schedule_hour, required: true, label: false, placeholder: "00", input_html:{class: 'sm'}, pattern: "^([0-9]|0[0-9]|1[0-9]|2[0-3])$" %>
          <%= f.input :schedule_min, required: true, label: false, placeholder: "00", input_html:{class: 'sm'}, pattern: "^[0-5][0-9]$" %>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-4">
      <% if @type.discounts.any? %>
        <h5>Precios según volumen</h5>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Rango</th>
              <th>Descuento</th>
              <th>Precio / día</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 dia</td>
              <td></td>
              <td>
                <%= number_with_precision @payment.price, precision: 2 %>
                <%= money_symbol %>
              </td>
            </tr>
            <% @type.discounts.each do |d| %>
            <tr>
              <td><%= "#{d.days_from}-#{d.days_to} días" %></td>
              <td><%= d.discount.to_i %>%</td>
              <td>
                <%= @type.price - (@type.price * (d.discount/100) ) %>
                <%= money_symbol %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>

  <div class="payment-total">
    <strong>Coste del servicio</strong> (IVA inc): <span></span>
  </div>

  <%= f.submit "Confirmar pedido", class: 'btn btn-primary btn-lg' %>

<% end %>