<h2>Historial de pagos</h2>

<% if @payments.any? %>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Anuncio</th>
        <th class="hidden-xs">Tipo</th>
        <th class="hidden-xs">Fecha</th>
        <th class="hidden-xs">Referencia</th>
        <th class="text-right hidden-xs">Importe</th>
        <th style="width:100px"></th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |p| %>
        <tr>
          <% pp = p.paypal_response %>
          <td >
            <span class="text-primary"><%= p.banner.title %></span>
            <div class="visible-xs">
              Tipo: <%= p.payment_type.title %><br>
              <strong>Importe:</strong> <%= show_money pp.amount.total %>
            </div>
          </td>
          <td class="hidden-xs"><%= p.payment_type.title %></td>
          <td class="hidden-xs"><%= l pp.order_time.to_datetime, format: :short %></td>
          <td class="hidden-xs"><%= pp.transaction_id %></td>
          <td class="text-right hidden-xs"><%= show_money pp.amount.total %></td>
          <td>
            <%= link_to 'ver detalles', view_payment_path(p), class: '' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @payments %>

<% else %>

  <p class="text-warning">No hay transacciones que mostrar.</p>

<% end %>