<% content_for :js_init do %>
  <script>
    (function(){
      var form = new PaymentForm(<%= raw @type.to_json %>);
    })();
  </script>
<% end %>

<h2><%= @type.title %></h2>
<h4><%= link_to @banner.title, post_path(@banner) %></h4>
<hr>

<%= render "#{@type.code}_form" %>