<div class="pull-right">
  <%= link_to "Volver al listado", my_payments_path, class: 'btn btn-default' %>
</div>

<h1>Detalles de la transacción</h1>

<% pp = @payment.paypal_response %>

<div class="row">
  <div class="col-md-8">
    
    <table class="table">
      <tbody>
        <tr>
          <td>Anuncio</td>
          <td><%= @payment.banner.title %></td>
        </tr>
        <tr>
          <td>Tipo de pago</td>
          <td><%= @payment.payment_type.title %></td>
        </tr>
        <tr>
          <td>Referencia</td>
          <td><%= pp.transaction_id %></td>
        </tr>
        <tr>
          <td>Fecha</td>
          <td><%= l pp.order_time.to_datetime, format: :short %></td>
        </tr>
        <tr>
          <td>Importe</td>
          <td><%= show_money pp.amount.total %></td>
        </tr>
        <% if @payment.expire_at %>
          <tr>
            <td>Fecha expiración</td>
            <td><%= l @payment.expire_at, format: :short %></td>
          </tr>
        <% end %>
        <% if @payment.payment_type.uses_days? %>
          <tr>
            <td>Número de días contratados</td>
            <td><%= @payment.num_days %></td>
          </tr>
          <tr>
            <td>Descuento aplicado</td>
            <td><%= number_with_precision @payment.discount_percent * 100, precision: 2 %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <!-- pack custom -->
    <% if @existing_schedules.present? %>
      <div class="alert alert-warning">
        <h4><i class="fa fa-calendar"></i> Subidas programadas de este pago:</h4>
        <ul>
          <% @existing_schedules.each do |dd| %>
            <li><%= l dd, format: :short %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- pack auto -->
    <% if @payment.payment_type.code == "subir_pack_auto" %>
      <div class="alert alert-warning">
        <h4><i class="fa fa-calendar"></i> Subidas programadas de este pago:</h4>
        <%
          start_at = (@payment.expire_at - (@payment.num_days-1).days).to_date
          end_at = @payment.expire_at.to_date
        %>
        <ul>
        <% (start_at..end_at).to_a.each do |date| %>
          <% run_at = Time.parse("#{date.strftime('%Y-%m-%d')} #{@payment.schedule_hour}:#{@payment.schedule_min}") %>
          <li><%= l run_at, format: :short %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>