<h2><%= @html_text.new_record? ? "Nuevo" : "Editar" %> texto HTML</h2>

<%= simple_form_for [:super, @html_text] do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-4">
      <%= f.association :banner_category, label: 'Categoría', input_html:{required: true} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.association :state, label: 'Estado', input_html:{required: true} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.association :city, label: 'Ciudad' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :html_block, label: 'Bloque HTML', rows: 40 , cols: 20, input_html:{required: true} %>
    </div>
  </div>

  <%= f.submit "Guardar", class: 'btn btn-success btn-lg' %>
  <%= link_to "Volver", super_html_texts_path, class: 'btn btn-lg btn-default' %>

<% end %>
