<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Nueva Texto HTML", new_super_html_text_path, class: 'btn btn-success' %>
    </div>
    <h1>Textos HTML</h1>

    <% if @html_texts.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Ciudad</th>
            <th>Texto</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @html_texts.each do |html_text| %>
          <tr>
            <td><%= html_text.banner_category.title if html_text.banner_category %></td>
            <td><%= html_text.state.name if html_text.state %></td>
            <td><%= html_text.city.name if html_text.city %></td>
            <td><%= Sanitize.clean(html_text.html_block.truncate(50)) if html_text.html_block %></td>
            <td>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_html_text_path(html_text), class: 'btn btn-default btn-sm' %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:super, html_text], method: :delete, data: {confirm: "¿Seguro?"}, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
