<h3><%= @user.new_record? ? "Nuevo" : "Editar" %> admin</h3>

<%= simple_form_for [:super, @user] do |f| %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :first_name, label: "Nombre" %>
      <%= f.input :last_name, label: "Apellidos" %>
      <%= f.input :email, label: "Email" %>
    </div>
    
    <% if @user.new_record? %>
      <div class="col-md-6">
        <%= f.input :password, label: "Contraseña" %>
        <%= f.input :password_confirmation, label: "Confirmar contraseña" %>
      </div>
    <% end %>
  </div>

  <%= f.submit "Guardar", class: 'btn btn-success btn-lg' %>
  <%= link_to "Volver", super_super_users_path, class: 'btn btn-default btn-lg' %>

<% end %>