<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Nuevo admin", new_super_super_user_path, class: 'btn btn-success' %>
    </div>
    <h1>Administradores</h1>
    
    <h4><%= @users.total_count %> resultados</h4>
    <% if @users.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style="">Nombre</th>
            <th style="">Apellidos</th>
            <th style="">Email</th>
            <th style="">Fecha alta</th>
            <th style=""></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= l user.created_at, format: :short %></td>
            <td>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_super_user_path(user), class: 'btn btn-default btn-sm' %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:super, user], method: :delete, data: {confirm: "¿Seguro?"}, class: 'btn btn-danger btn-sm' unless current_super_user == user %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    <% end %>

  </div>
</div>