<div class="row">
  <div class="col-md-12">
    <h1>Usuarios registrados</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= simple_form_for @q, url: super_users_path, method: :get do |f| %>
          <div class="row">
            <div class="col-md-3">
              <%= f.input :first_name_cont, label: false, placeholder: "nombre" %>
            </div>
            <div class="col-md-3">
              <%= f.input :last_name_cont, label: false, placeholder: "apellidos" %>
            </div>
            <div class="col-md-3">
              <%= f.input :email_cont, label: false, placeholder: "email" %>
            </div>
          </div>
          <%= f.submit "Filtrar", class: 'btn btn-sm btn-primary' %>
          <%= link_to "Mostrar todo", super_users_path, class: 'btn btn-sm btn-default' %>
        <% end %>
      </div>
    </div>
    
    <h4><%= @users.total_count %> resultados</h4>
    <% if @users.any? %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th style=""><%= sort_link @q, :first_name, "Nombre" %></th>
          <th style=""><%= sort_link @q, :last_name, "Apellidos" %></th>
          <th style=""><%= sort_link @q, :email, "Email" %></th>
          <th style="">Ubicación</th>
          <th style=""><%= sort_link @q, :created_at, "Fecha alta" %></th>
          <th style=""></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
        <tr>
          <td><%= u.first_name %></td>
          <td><%= u.last_name %></td>
          <td><%= u.email %></td>
          <td><%= u.location_name %></td>
          <td><%= l u.created_at, format: :short %></td>
          <td>
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, [:super, u], class: 'btn btn-default btn-sm' %>
            <%= link_to '<i class="fa fa-bullhorn"></i>'.html_safe, super_banners_path(:q => {user_id_eq: u.id}), title: "anuncios relacionados", class: 'btn btn-default btn-sm' %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:super, u], method: :delete, data: {confirm: "¿Estas seguro?"}, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
    <% end %>

  </div>
</div>