<%= link_to "Volver atrás", super_users_path, class: 'btn btn-default' %>

<div class="row">
  <div class="col-md-5">
    <h3>Datos personales</h3>
    <table class="table">
      <tr>
        <td>Nombre</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>Apellidos</td>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Fecha de alta</td>
        <td><%= l @user.created_at, format: :short %></td>
      </tr>
      <tr>
        <td>Ubicación</td>
        <td><%= @user.location_name %></td>
      </tr>
    </table>
  </div>

  <div class="col-md-7">
    <h3>Anuncios relacionados <small>últimos 10</small></h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Título</th>
          <th>Fecha alta</th>
          <th>Telf</th>
        </tr>
      </thead>
      <tbody>
        <% @user.banners.limit(10).order('id desc').each do |b| %>
        <tr>
          <td><%= link_to truncate(b.title, length: 50), post_permalink(b), target: "_blank" %></td>
          <td><%= l b.created_at, format: :short %></td>
          <td><%= b.phone %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'ver todos', super_banners_path(:q => {user_id_eq: @user.id}), title: "anuncios relacionados", class: 'btn btn-default btn-sm' %>
  </div>
</div>