<%
  cat = @banner.present? ? @banner.category.title : params[:category]
  # location
  if @banner.present?
    loc = @banner.location_name
    loc_params = {
      city: @banner.city.slug,
      state: @banner.state.slug,
    }
  else
    # posts#index
    loc = @location
    loc_params = {}
    loc_params[:state] = params[:state] if params[:state]
    loc_params[:city] = params[:city] if params[:city]
  end
  show_cat = cat.present? && cat != 'todos'
%>
<% if cat.present? %>
<ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
  <% if show_cat || loc.present? %>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
      <a itemscope itemtype="http://schema.org/Service"
         itemprop="item" href="<%= root_path %>">
          <span itemprop="name">AdultGuia</span>
      </a>
    </li>
  <% end %>
  <% if show_cat %>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
      ›
      <a itemscope itemtype="http://schema.org/Service"
         itemprop="item" href="<%= friendly_search_url(category: cat.parameterize) %>">
          <span itemprop="name"><%= cat.titleize %></span>
      </a>
    </li>
  <% end %>
  <% if @bread_state %>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
      ›
      <a itemscope itemtype="http://schema.org/Place"
         itemprop="item" href="<%= friendly_search_url({category: cat.parameterize}.merge({state: @bread_state.slug})) %>">
        <span itemprop="name"><%= @bread_state.name %></span>
      </a>
    </li>
  <% end %>
  <% if @bread_city %>
    <li itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
      ›
      <a itemscope itemtype="http://schema.org/Place"
         itemprop="item" href="<%= friendly_search_url({category: cat.parameterize}.merge({state: @bread_city.state.slug, city: @bread_city.slug})) %>">
        <span itemprop="name"><%= @bread_city.name %></span>
      </a>
    </li>
  <% end %>
</ol>
<% end %>