<% if @all_location_banners && @all_location_banners.any? %>

  <% if size == 'mobile' %>
      <% @all_location_banners.each do |banner| %>
        <%= link_to image_tag(banner.mobile_image.url, class: 'img-responsive center-block'), banner.mobile_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% else %>
      <% @all_location_banners.each do |banner| %>
        <%= link_to image_tag(banner.desktop_image.url, class: 'img-responsive center-block'), banner.desktop_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% end %>

<% else %>

  <% if @city_image_banners && @city_image_banners.any? && !@term %>
    <% if size == 'mobile' %>
      <% @city_image_banners.each do |banner| %>
        <%= link_to image_tag(banner.mobile_image.url, class: 'img-responsive center-block'), banner.mobile_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% else %>
      <% @city_image_banners.each do |banner| %>
        <%= link_to image_tag(banner.desktop_image.url, class: 'img-responsive center-block'), banner.desktop_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% end %>

  <% elsif @state_image_banners && @state_image_banners.any? && @bread_city && @bread_city.canonical? && !@term %>
    <% if size == 'mobile' %>
      <% @state_image_banners.each do |banner| %>
        <%= link_to image_tag(banner.mobile_image.url, class: 'img-responsive center-block'), banner.mobile_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% else %>
      <% @state_image_banners.each do |banner| %>
        <%= link_to image_tag(banner.desktop_image.url, class: 'img-responsive center-block'), banner.desktop_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% end %>

  <% elsif @state_image_banners && @state_image_banners.any? && !@bread_city && !@city_image_banner && !@term %>
    <% if size == 'mobile' %>
      <% @state_image_banners.each do |banner| %>
        <%= link_to image_tag(banner.mobile_image.url, class: 'img-responsive center-block'), banner.mobile_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% else %>
      <% @state_image_banners.each do |banner| %>
        <%= link_to image_tag(banner.desktop_image.url, class: 'img-responsive center-block'), banner.desktop_link, target: "_blank", rel: "nofollow" if banner.available? %>
        <br/>
      <% end %>
    <% end %>
  <% end %>

<% end %>
