<div id="post_payment_options" class="payment-options">
  <h3><i class="fa fa-star"></i> Consiga más llamadas con nuestros planes de visibilidad</h3>

  <%#= render partial: 'payment_location_filter' %>
  <%# if @banner.has_payment_location? %>
  <%= render partial: 'plans' %>
  <%# end %>

</div>
