<h4>1. SELECCIONA UNA CATEGORÍA Y UBICACIÓN</h4>
<hr />
<div class="opt well">
  <div class="row">
    <div class="col-md-12">      
      <% content_for :js_init do %>
        <script>
          (function(){
            var form = new BannerForm(<%= raw @banner.to_json %>);
          })();
        </script>
      <% end %>

      <%= simple_form_for @paid_banner_location, url: set_paid_location_path, method: :post, html: {class: 'js-banner-form', id: "banner-form"} do |f| %>

        <%= f.hidden_field :banner_id, value: @banner.id %>

        <div class="row">
          <div class="col-md-4">
            <%= f.association :banner_category, label: "Categoría", include_blank: "- Selecciona" %>
          </div>

          <div class="col-md-4">
            <%= f.association :state, label: 'Localización', collection: State.all, include_blank: t('provincia'), input_html: {class: 'selectize-states'} %>
          </div>

          <div class="col-md-4">
            <label>&nbsp;</label>
            <% selected_city = @paid_banner_location.state ? @paid_banner_location.state.cities : [] %>
            <%= f.association :city, collection: selected_city, label: false, placeholder: 'Ciudad', input_html:{class: 'selectize-cities' } %>
          </div>
        </div>
        <% if @banner.has_payment_location? %>
          <%= f.submit "Actualizar Ubicación", class: 'btn btn-primary' %>
        <% else %>
          <%= f.submit "Guardar Ubicación", class: 'btn btn-primary' %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>
