<!--
<br />
<h4>2. SELECCIONA UN PLAN</h4>
-->

<hr />

<% @payment_types.each do |type| %>

  <div class="opt well" data-type="<%= type.id %>">
    
    <!-- alert info si ya lo tiene contratado -->
    <% active_p = @active_payments.select{|p| p.payment_type_id == type.id }.first %>
    <% if active_p %>
      <div class="alert alert-info">
        <i class="fa fa-exclamation-triangle"></i> Ya has contratado este servicio. <%= "(activo hasta el #{l(active_p.expire_at, format: :short)})" if active_p.expire_at.present? %>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-md-3">
        <h4><%= type.title %></h4>
        <%= simple_format type.description %>

        <% if type.uses_days? %>
          <%= form_tag new_payment_path, class: 'payment-form', method: :get do %>
            
            <%= hidden_field_tag :banner, @banner.id %>
            <%= hidden_field_tag :type, type.id %>

            <%= number_field_tag :days, "", required: true, placeholder: "número de dias", class: 'js-num-days form-control', "data-parsley-type"=>"integer", min: 1, max: 365 %>
            
            <div class="clearfix"></div>
            <%= submit_tag "Contratar", class: 'btn btn-primary' %>
            <span class="total-amount"></span>

          <% end %>
        <% else %>
          <% unless type.code == 'subir_pack_custom' %>
            <p><strong>Coste del servicio:</strong> <%= show_money type.price %></p>
          <% end %>
          <br />
          <div class="row">
            <div class="col-md-4">
              <%= link_to "Contratar", new_payment_path(type: type.id, banner: @banner.id), class: 'btn btn-primary' %>
            </div>
            <div class="col-md-4">
              <% unless type.code == 'subir_pack_custom' %>
                <%= render 'paypal' %>
              <% end %>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        <% if type.discounts.any? %>
          <h5>Precios según volumen</h5>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Rango</th>
                <th>Descuento</th>
                <th>Precio / día</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 dia</td>
                <td></td>
                <td><%= show_money type.price %></td>
              </tr>
              <% type.discounts.each do |d| %>
              <tr>
                <td><%= "#{d.days_from}-#{d.days_to} días" %></td>
                <td><%= d.discount.to_i %>%</td>
                <td>
                  <%= number_with_precision (type.price - (type.price * (d.discount/100))).round(2), precision: 2 %>
                  <%= money_symbol %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

      <div class="col-md-5">
        <% if type.code == 'top' %>
          <%= image_tag 'anuncios_top.jpg', style: "width:100%;" %>
        <% elsif type.code == 'destacar' %>
          <%= image_tag 'anuncios_destacados.jpg' %>
        <% else %>
          <%= image_tag 'anuncios_visibilidad.jpg' %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
