<%
  permalink = post_permalink(banner)
  desc = strip_tags(banner.description)
%>

<div class="item <%= banner.css_classes %>" data-id="<%= banner.id %>">

  <% if defined?(show_actions) && current_user %>
    <div class="actions pull-right">
      <%= link_to '<i class="fa fa-envelope"></i> compartir'.html_safe, new_sent_favorite_path(banner: banner.id), remote: true, class: 'js-send-favorite' %>
    </div>
  <% end %>

  <div class="thumb">
    <%= link_to image_tag(banner.images.first.file.url(:thumb), class: 'img-responsive'), permalink if banner.images.any? %>
  </div>
  <h5 class="item-heading"><%= link_to truncate(banner.title, length: 80), permalink %></h5>
  <p class="location-cat">
    <i class="fa fa-map-marker"></i> <%= banner.location_name %> &bull; <%= banner.category.title %>
  </p>

  <div class="item-body">
    <% if params[:term].present? %>
      <!-- highlight term -->
      <%
        term = params[:term]
      %>
      <% expt = excerpt(desc, term) %>
      <% if expt.present? %>
        <%= highlight(expt, term) %>
      <% else %>
        <!-- no matches en el cuerpo -->
        <p><%= truncate desc, length: 200 %></p>
      <% end %>

    <% else %>
      <p><%= truncate desc, length: 200 %></p>
    <% end %>
  </div>

  <div class="meta-info">
    <% if banner.images.size > 0 %>
      <span><i class="fa fa-camera-retro" title="fotos" data-toggle="tooltip" ></i> <%= banner.images.size %></span>
    <% end %>
    <% if banner.impressions_count > 0 %>
      <span><i class="fa fa-eye" title="visualizaciones" data-toggle="tooltip"></i> <%= banner.impressions_count %></span>
    <% end %>
    <%= render 'user_favorites/button', banner: banner, favs: user_favs %>
  </div>

</div>
