<div class="search-form" id="search-top-bar" style="display:none;">
  <%= simple_form_for @q, as: :q, url: search_posts_path, method: :get, html: {id: 'post-search-form'} do |f| %>
    <div class="wrap">
      <div class="col title">
        <label><i class="fa fa-search hidden-lg"></i> <span class="visible-lg">¿Qué buscas?</span></label>
      </div>
      <div class="col term">
        <%= f.input :term, label: false, placeholder: AppSetting.get('top_search/placeholder') %>
      </div>
      <!--
      <div class="col loc">
        <%#= f.input :state_id, label: false, collection: State.all, include_blank: t('provincia'), input_html:{class: 'selectize-states'} %>
      </div>
      -->
      <div class="col loc">
        <%# cities = @q.state_id.present? ? State.find(@q.state_id.to_i).cities : [] %>
        <%#= f.input :city_id, label: false, placeholder: 'Ciudad', collection: cities, input_html:{class: 'selectize-cities'} %>

        <%#= f.grouped_collection_select :city_id, State.order(:name), :cities, :name, :id, :name, { include_blank: true } %>
        <%= f.select :city_id, [], {}, class: "remote-cities" %>
      </div>
      <div class="col cat">
        <%#= f.select :category, label: false, collection: BannerCategory.all, include_blank: "Categoría"  %>
        <%= f.select :category, BannerCategory.pluck(:title, :id), prompt: 'Categoría' %>
      </div>
      <div class="col">
        <%= submit_tag "Buscar", class: 'btn btn-block btn-pink' %>
      </div>
      <div class="col reset">
        <a href="<%= search_posts_path %>" title="Quitar filtros" class="btn btn-block btn-default">
          <i class="fa fa-times hidden-xs"></i>
          <span class="visible-xs">Quitar filtros</span>
        </a>
      </div>
    </div>

  <% end %>
</div>
