<%
  app_country = AppSetting.get('site_country')
  # default
  page_title = "ANUNCIOS Eróticos en #{app_country.mb_chars.upcase} ☆ GRATIS ☆ Excitantes"
  meta_desc = "Publica o Encuentra en AdultGuia los mejores ANUNCIOS ERÓTICOS GRATIS. Mujeres y hombres excitantes para tener sexo único ☆ Los mejores anuncios AQUI!"
  @h1 = "Anuncios eróticos Gratis en #{app_country}"

  # params: vienen parameterized
  cat = params[:category].try(:titleize)
  loc = @location
  term = params[:term]
  cat = 'Sexo' if cat && cat.downcase == 'todos'
%>

<%
  # siempre disponible (condicion redundante?)
  if cat
    page_title = "Anuncios Eróticos de #{cat} GRATIS"
    meta_desc = "Publica o Encuentra el sexo que buscas en #{app_country} y cumple tu fantasía sexual. Placer adulto de #{cat}. Anuncios X y Contactos Eróticos en AdultGuia"
    @h1 = "Anuncios Eróticos de #{cat} - Contactos xXx"
  end
%>

<%
  if term
    page_title = "Anuncios Eróticos de #{params[:term]} GRATIS Sexo y Encuentros"
    meta_desc = "¿Buscas #{params[:term]}? encuéntralo aquí en #{app_country} y cumple tu fantasía sexual. ¿Qué te gustaría hacer? Exclusivos Anuncios X y Contactos Eróticos en AdultGuia"
    @h1 = "Anuncios Eróticos de #{term} - Contactos xXx"
  end
%>

<%
  if cat && loc.present?
    page_title = "Anuncios Eróticos de #{cat} en #{loc}"
    meta_desc = "Publica o Encuentra el sexo que buscas en #{loc} y Cumple tu fantasía sexual. Placer adulto de #{cat}. Anuncios X y Contactos Eróticos en AdultGuia"
    @h1 = "Anuncios Eróticos de #{cat} en #{loc} - Contactos xXx"
  end
%>

<%
  full_title = page_title
  full_title << " - Página #{params[:page]}" if params[:page]
  title full_title

  meta_desc << " - Página #{params[:page]}" if params[:page]
  set_meta_tags description: meta_desc
  set_meta_tags canonical: @canonical_url if @canonical_url
  set_meta_tags noindex: true, follow: true if params[:page]
%>

<% content_for :rel_canonical do %>
  <% if @bread_state && @category && @term %>
    <link rel="canonical" href='<%= canonical_of_search(@current_url) %>'/>
  <% elsif @bread_state && !@bread_city %>
    <% if @bread_state.canonical? %>
      <link rel="canonical" href='<%= "#{@current_url}" %>'/>
    <% end %>
  <% elsif @bread_city %>
    <% if @bread_city.canonical? %>
      <% state_url = canonical_to_state(@bread_city, @current_url) %>
      <link rel="canonical" href='<%= state_url %>'/>
    <% end %>
  <% end %>
<% end %>

<% if @term %>
  <% content_for :meta_robots do %>
    <meta name="robots" content="noindex,follow">
  <% end %>
<% end %>
