<div class="flags_box hidden-xs hidden-sm hidden-md">
  <a href="https://es.adultguia.com">
    España <%= image_tag('flags/ES.png') %>
  </a>
  <a href="https://mx.adultguia.com">
    México <%= image_tag('flags/MX.png') %>
  </a>
</div>

<div class="hidden-xs hidden-sm hidden-md">
  <% if Rails.configuration.x.app_country == "es" %>
    <%= ExternalBanner.first.es_desktop.html_safe %>
  <% end %>
  <% if Rails.configuration.x.app_country == "mx" %>
    <%= ExternalBanner.first.mx_desktop.html_safe %>
  <% end %>
  <%= render partial: 'posts/image_banner', locals: {size: 'desktop'} %>
</div>

<% if @bread_city %>
  <div class="states-box">
    <div class="row">
      <div class="col-md-12">
        <% @bread_city.categories.each do |category| %>
          <%= link_to category_city_link(category, @bread_city), friendly_search_path(category: category.slug, city: @bread_city.slug) %>
          <br />
        <% end %>
      </div>
    </div>
  </div>
<% elsif @bread_state %>
  <div class="states-box">
    <div class="row">
      <div class="col-md-12">
        <% @bread_state.categories.each do |category| %>
          <%= link_to category_city_link(category, @bread_state), friendly_search_path(category: category.slug, state: @bread_state.slug) %>
          <br />
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="states-box">
  <div class="row">
    <div class="col-md-6 states-column">
      <% if @single_state || @bread_state %>
        <%= @bread_state.name %><br />
        <% if @cities_with_posts_1.present? %>
          <% @cities_with_posts_1.each do |city| %>
            &nbsp;
            <% if check_canonical(@bread_state.slug, city[1]) %>
              <%= link_to truncate(city[0], length: 15, separator: ''), search_single_city_path(category_id: @category, state_id: @bread_state.slug, city_id: city[1]), style: 'padding: 0px;', rel: 'canonical' %>
            <% else %>
              <%= link_to truncate(city[0], length: 15, separator: ''), search_single_city_path(category_id: @category, state_id: @bread_state.slug, city_id: city[1]), style: 'padding: 0px;' %>
            <% end %>
            <br />
          <% end %>
        <% end %>
      <% else %>
        <% if @states_with_posts_1.present? %>
          <% @states_with_posts_1.each do |state| %>
            <%= link_to truncate(state[0], length: 15, separator: ''), search_single_state_path(category_id: @category, state_id: state[1]), style: 'padding: 0px;' %><br />
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-6 states-column">
      <% if (@single_state || @bread_state) %>
        <% if @cities_with_posts_2.present? %>
          <% @cities_with_posts_2.each do |city| %>
            &nbsp;

            <% if check_canonical(@bread_state.slug, city[1]) %>
              <%= link_to truncate(city[0], length: 15, separator: ''), search_single_city_path(category_id: @category, state_id: @bread_state.slug, city_id: city[1]), style: 'padding: 0px;', rel: 'canonical' %>
            <% else %>
              <%= link_to truncate(city[0], length: 15, separator: ''), search_single_city_path(category_id: @category, state_id: @bread_state.slug, city_id: city[1]), style: 'padding: 0px;' %>
            <% end %>
            <br />
          <% end %>
        <% end %>
      <% else %>
        <% if @states_with_posts_2.present? %>
          <% @states_with_posts_2.each do |state| %>
            <%= link_to truncate(state[0], length: 15, separator: ''), search_single_state_path(category_id: @category, state_id: state[1]), style: 'padding: 0px;' %><br />
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="most-viewed-posts">
  <h4><i class="fa fa-star-o"></i> Recomendados por AdultGuia</h4>
  <% banners = Banner.recommended %>
  <div class="wrapper">
    <% banners.each do |bb| %>
      <div class="item">
        <h5 class="item-heading"><%= link_to truncate(bb.title, length: 80), post_permalink(bb) %></h5>
        <p class="location-cat">
          <i class="fa fa-map-marker"></i> <%= bb.location_name %> &bull; <%= bb.category.title %>
        </p>
      </div>
    <% end %>
    <% if request.path == '/' %>
      <% BannerCategory.all.each do |b_cat| %>
        <div class="item">
          <h5 class="item-heading"><%= link_to truncate(b_cat.title.mb_chars.upcase, length: 80), only_category_path(category: b_cat.slug) %></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="feedback_box">
  <%= link_to image_tag('banner_feedback.jpg', class: 'img-responsive', alt: "Mejora AdultGuia"), feedback_url %>
</div>

<div class="social_box">
  <h3>Síguenos en:</h3>
  <div class="wrap">
    <a href="https://twitter.com/adultguia" target="_blank"><%= image_tag('social/twitter.png') %></a>
    <a href="https://plus.google.com/115539072989735416579" target="_blank"><%= image_tag('social/gplus.png') %></a>
  </div>
</div>
