<%= render 'seo_tags' %>

<% content_for :posts_search do %>
  <%= render 'search_form' %>
<% end %>
<% content_for :js_init do %>
  <script>
    (function(){
      var location = new LocationSelects('#post-search-form', '.selectize-states', '.selectize-cities');
    })();
  </script>
<% end %>

<div class="row">
  <div class="col-md-9">

    <div class="flags_box text-center hidden-lg">
      <a href="https://es.adultguia.com">
        España <%= image_tag('flags/ES.png') %>
      </a>
      <a href="https://mx.adultguia.com">
        México <%= image_tag('flags/MX.png') %>
      </a>
    </div>

    <div class="hidden-lg">
      <div class="text-center">
        <% if Rails.configuration.x.app_country == "es" %>
          <%= ExternalBanner.first.es_mobile.html_safe %>
        <% end %>
        <% if Rails.configuration.x.app_country == "mx" %>
          <%= ExternalBanner.first.mx_mobile.html_safe %>
        <% end %>
        <br />
      </div>
      <%= render partial: 'image_banner', locals: {size: 'mobile'} %>
    </div>

    <% if @top_banners && @top_banners.any? %>
      <div class="items-list top posts">
        <h4 class="list-heading list-heading--top">TOP anuncios</h4>
        <div class="items-list">
          <% @top_banners.each do |b| %>
            <%= render 'preview', banner: b %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @banners.any? %>
      <div class="items-list posts">

        <%= render 'breadcrumbs' %>

        <h1><%= @h1 %></h1>

        <% @grouped_banners.each do |date, banners| %>

          <h5 class="list-heading"><%= l date, format: :long %></h5>
          <% banners.each do |b| %>
            <%= render 'preview', banner: b %>
          <% end %>

        <% end %>
      </div>
      <%= paginate @banners %>
    <% end %>

    <% if @banners.empty? %>
      <p class="lead text-warning"><i class="fa fa-exclamation-triangle"></i> No se encontraron anuncios con estos criterios.</p>
    <% end %>

    <% if (@city_html_texts && @city_html_texts.any?) && !@term %>
      <% @city_html_texts.each do |html_text| %>
        <hr />
        <%= raw html_text.html_block %>
      <% end %>
    <% elsif @state_html_texts && @state_html_texts.any? && @bread_city && @bread_city.canonical? && !@term %>
      <% @state_html_texts.each do |html_text| %>
        <hr />
        <%= raw html_text.html_block %>
      <% end %>
    <% elsif @state_html_texts && @state_html_texts.any? && !@city_html_texts && !@term %>
      <% @state_html_texts.each do |html_text| %>
        <hr />
        <%= raw html_text.html_block %>
      <% end %>
    <% end %>

  </div>

  <!-- sidebar -->
  <div class="col-md-3">
    <%= render 'sidebar' %>
  </div>

</div>
