<% content_for :modals do %>
  <%= render 'banner_contact_requests/modal' %>
<% end %>
<% content_for :posts_search do %>
  <%= render 'search_form' %>
<% end %>

<%
  title @banner.meta_title.present? ? @banner.meta_title : @banner.title_seo
  description @banner.meta_desc.present? ? @banner.meta_desc : "#{truncate_html @banner.description, length: 100} (#{@banner.location_name}) en AdultGuia"
%>

<% content_for :js_init do %>
  <script>
    (function(){
      var form = new PaymentOptions();

      var location = new LocationSelects('#post-search-form', '.selectize-states', '.selectize-cities');

      var grid = $('.post-gallery');
      grid.imagesLoaded( function() {
        grid.masonry({
          columnWidth: 1,
          itemSelector: '.item'
        });
      });

    })();
  </script>
<% end %>

<% content_for :outside_container do %>
  <div class="post-paginator">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if @banner.prev %>
            <div class="prev pull-left"><%= link_to "<i class=\"fa fa-arrow-circle-left\"></i>".html_safe, post_permalink(@banner.prev) %></div>
          <% end %>
          <% if @banner.next %>
            <div class="next pull-right"><%= link_to "<i class=\"fa fa-arrow-circle-right\"></i>".html_safe, post_permalink(@banner.next) %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>

<div class="row">
  
  <div class="col-md-12">
    
    <div class="actions">
      <% if @banner.images.size > 0 %>
        <span><i class="fa fa-camera-retro" title="fotos" data-toggle="tooltip" ></i> <%= @banner.images.size %></span>
      <% end %>
      <% if @banner.impressions_count > 0 %>
        <span><i class="fa fa-eye" title="visualizaciones" data-toggle="tooltip"></i> <%= @banner.impressions_count %></span>
      <% end %>
      <%= render 'user_favorites/button', banner: @banner, favs: user_favs %>

      <%= link_to '<i class="fa fa-pencil"></i> Editar anuncio'.html_safe, edit_banner_path(@banner), class: 'btn btn-sm btn-default edit-banner', style: 'margin-left:15px' if @banner.user == current_user %>
    </div>   
  
    <!-- itemscope -->
    <div itemprop="provider" itemscope itemtype="http://schema.org/LocalBusiness">

      <div class="post-heading">
        <%= render 'breadcrumbs' %>
        <!-- Banner -->
        <div class="hidden-lg">
          <div class="text-center">
            <% if Rails.configuration.x.app_country == "es" %>
              <%= ExternalBanner.first.es_mobile.html_safe %>
            <% end %>
            <% if Rails.configuration.x.app_country == "mx" %>
              <%= ExternalBanner.first.mx_mobile.html_safe %>
            <% end %>
            <div class="clearfix"></div>
            <br />
          </div>
        </div>
        <!-- End Banner -->
        <h1 itemprop="name"><%= @banner.title %></h1>

        <% if @banner.price.present? %>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <p>Precio: <span itemprop="price"><%= @banner.price %></span></p>
          </div>
        <% end %>
      </div>

      <hr>
      
      <div class="post-body">
        <div class="row">

          <div class="col-md-8" itemprop="description">
            <%= raw @banner.description %>
          </div>

          <div class="col-md-4">
            <!-- Banner -->
            <div class="text-center hidden-xs hidden-sm hidden-md">
              <% if Rails.configuration.x.app_country == "es" %>
                <%= ExternalBanner.first.es_desktop.html_safe %>
              <% end %>
              <% if Rails.configuration.x.app_country == "mx" %>
                <%= ExternalBanner.first.mx_desktop.html_safe %>
              <% end %>
              <%= render partial: 'posts/image_banner', locals: {size: 'desktop'} %>
            </div>
            <br />
            <!-- End Banner -->
            <div class="contact-info">
              <h3>Contactar</h3>
              <div class="phone">
                <i class="fa fa-mobile-phone"></i> <span class="number"><%= @banner.hidden_phone %></span>
                <%= link_to "ver teléfono".html_safe, post_phone_path(@banner), remote: true, class: 'btn btn-primary btn-sm' %>
                <span class="hint">
                  <i class="fa fa-eye"></i> Di que me has visto en <strong>AdultGuia</strong>
                </span>
              </div>
              <div class="email">
                O contacta por <a href="#contact_request_modal" data-toggle="modal" class="btn btn-primary btn-sm">Email</a>
              </div>
              <div>
                <br />
                <a href=<%= "#{post_permalink(@banner)}#post_payment_options"%> class="btn btn-pink promote-post" rel="nofollow">PROMOCIONA TU ANUNCIO</a>
              </div>
            </div>

          </div>

        </div>
      </div>

      <% if @banner.images.any? %>
        <div class="post-gallery">
          <% @banner.images.each do |img| %>
            <div class="item col-md-3">
              <%= link_to image_tag(img.file.url(:large), alt: "#{@banner.category.title} #{@banner.title} - #{img.id}", title: ""), img.file.url(:large), "data-fancybox" => "images", rel: 'post-gal', 'itemprop'=>'image' %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="post-gallery">
          <div class="item col-md-3">
            <%= link_to image_tag('default_image.jpg', alt: "Adultguia", title: ""), image_path('default_image.jpg'), "data-fancybox" => "images", rel: 'post-gal', 'itemprop'=>'image' %>
          </div>
        </div>
      <% end %>

    </div>
    <!-- end itemscope -->
    
    <% if current_user == @banner.user %>
      <%= render 'payment_options' %>
    <% end %>
    
    <% if @related_posts.any? %>
      <div class="related-posts">
        <h3>Anuncios relacionados</h3>
        <div class="items-list posts">
          <% @related_posts.each do |p| %>
            <%= render 'preview', banner: p %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</div>