@import 'variables';

// form
.banner-images {
  .hint {
    clear: both;
    background: #fafafa;
    padding:6px;
    margin:10px 0;
  }
  .nested-fields {
    background: #F1F1F1;
    padding:5px;
    margin-bottom: 4px;

    .actions {
      float:right;
      a {
        display: block;
        float:left;
        font-size: 24px;
        margin-left: 10px;
      }
    }

    &:first-child {
      background: lighten($brand-primary, 30%);
      border:2px solid $brand-primary;
    }
  }
}