<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes efectuarlo mediante el enlace a continuación:</p>

<p><%= link_to 'Recuperar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has hecho esta solicitud, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará a menos que accedas al enlace anterior e introduzcas una nueva.</p>