<% count = (banner.favorites_count > 0) ? banner.favorites_count : "" %>
<% if current_user %>
  <% faved = favs.include?(banner.id) %>
  <span class="fav-button <%= 'faved' if faved %>" data-banner="<%= banner.id %>">
    <% icon = faved ? 'fa-heart' : "fa-heart-o" %>
    <%= link_to "<i class=\"fa #{icon}\"></i> #{count}".html_safe, toggle_user_favorite_path(banner.id), remote: true, method: :post, title: "favorito" %>
  </span>
<% else %>
  <!-- read only -->
  <% if banner.favorites_count > 0 %>
    <span class="fav-button">
      <i class="fa fa-heart-o" data-toggle="tooltip" title="debes registrarte para guardar tus favoritos"></i> <%= count %>
    </span>
  <% end %>
<% end %>