<% content_for :modals do %>
  <%= render 'sent_favorites/modal' %>
<% end %>

<div class="row">
  <div class="col-md-9">
    <h1><%= title "Mis favoritos" %></h1>

    <% if @favorites.any? %>
      <% @favorites.each do |fav| %>
        <div class="items-list posts my-favs">
          <%= render 'posts/preview', banner: fav.banner, show_actions: true %>
        </div>
      <% end %>
    <%= paginate @favorites %>

    <% else %>
      <p>No tienes ningún favorito.</p>
    <% end %>

  </div>

  <!-- sidebar -->
  <div class="col-md-3">
    <%= render 'posts/sidebar' %>
  </div>

</div>