$(".fav-button[data-banner=<%= @banner.id %>]").replaceWith("<%= j render('user_favorites/button', banner: @banner, favs: @user_favs) %>")

<% if !@user_favs.include?(@banner.id) %>
  $('.my-favs .item[data-id=<%= @banner.id %>]').fadeOut();
<% end %>