<h2><%= @image_banner.new_record? ? "Nuevo" : "Editar" %> Banner</h2>

<%= simple_form_for [:super, @image_banner] do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.association :banner_category, label: 'Categoría', include_blank: false, input_html: {required: true} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.association :state, label: 'Estado', input_html: {required: true} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.association :city, label: 'Ciudad' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>Imágen Desktop</label>
      <br/>
      <%= image_tag @image_banner.desktop_image.url(:thumb)  %>
      <%= f.file_field :desktop_image, input_html: {required: true} %>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6">
      <%= f.input :desktop_link, label: 'Link Desktop', input_html: {required: true} %>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6">
      <label>Imágen Móvil</label>
      <br/>
      <%= image_tag @image_banner.mobile_image.url(:thumb) %>
      <%= f.file_field :mobile_image, input_html: {required: true} %>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6">
      <%= f.input :mobile_link, label: 'Link Móvil', input_html: {required: true} %>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6">
      <label>Fecha Inicio</label>
      <br/>
      <%= f.date_select :start_date %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>Fecha Fin</label>
      <br/>
      <%= f.date_select :end_date %>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-6">
      <%= f.check_box :active %>
      &nbsp;
      <label for='image_banner_active'>Activo ?</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.check_box :all_locations %>
      &nbsp;
      <label for='image_banner_all_locations'>Mostrar en todas las ubicaciones</label>
      <br >
      <small>
        Al seleccionar esta casilla, no se tendrán en cuenta los filtros catgoría y ubicación
      </small>
    </div>
  </div>

  <br />

  <%= f.submit "Guardar", class: 'btn btn-success btn-lg' %>
  <%= link_to "Volver", super_image_banners_path, class: 'btn btn-lg btn-default' %>

<% end %>

<script type="text/javascript">
  $("#image_banner_all_locations").click(function() {
    if($("#image_banner_all_locations").is(':checked')) {
      $("#image_banner_state_id").attr("disabled", true);
      $("#image_banner_city_id").attr("disabled", true);
    } else {
      $("#image_banner_state_id").attr("disabled", false);
      $("#image_banner_city_id").attr("disabled", false);
    }
  });
</script>
