<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to "Nuevo Banner", new_super_image_banner_path, class: 'btn btn-success' %>
    </div>
    <h1>BANNERS</h1>

    <% if @image_banners.any? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Categoría</th>
            <th>Estado</th>
            <th>Ciudad</th>
            <th>Imágen Desktop</th>
            <th>Imágen Móvil</th>
            <th>Fechas</th>
            <th>Activo?</th>
            <th>En todas las ubicaciones?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @image_banners.each do |image_banner| %>
          <tr>
            <td><%= image_banner.banner_category.title %></td>
            <td><%= image_banner.state.name if image_banner.state %></td>
            <td><%= image_banner.city.name if image_banner.city %></td>
            <td>
              <%= image_tag image_banner.desktop_image.url(:thumb)  %>
              <br/>
              <%= link_to truncate(image_banner.desktop_link), image_banner.desktop_link, target: '_blank' %>
            </td>
            <td>
              <%= image_tag image_banner.mobile_image.url(:thumb) %>
              <br/>
              <%= link_to truncate(image_banner.mobile_link), image_banner.mobile_link, target: '_blank' %>
            </td>
            <td><%= image_banner.date_range %></td>
            <td><%= image_banner.active? ? 'SI' : 'NO' %></td>
            <td><%= image_banner.all_locations? ? 'SI' : '' %></td>
            <td class='text-right'>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_super_image_banner_path(image_banner), class: 'btn btn-default btn-sm' %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [:super, image_banner], method: :delete, data: {confirm: "¿Seguro?"}, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
