<% if @suggested_website_version %>
  <div id="country_selector_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="text-center">
            <h3>¡AdultGuia está disponible en tu país!</h3>
            <p>
              <a href="<%= @suggested_website_version[:url] %>" class="btn btn-primary">¡Ok! Ir a <%= @suggested_website_version[:title] %></a>
            </p>
            <p>
              <a href="#" data-dismiss="modal">No, quiero permanecer en <%= @current_website_version[:title] %></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>