<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="hidden-print alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <div class="content">
        <%= msg %>
      </div>
    </div>
  <% end %>
<% end %>