<div class="row">
  <div class="col-sm-4">
    <% if current_user %>
      <ul class="user-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "Mi cuenta (#{current_user.first_name})" %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Mis datos", edit_user_registration_path %></li>
            <li><%= link_to "Mis favoritos", user_favorites_path %></li>
            <li><%= link_to "Mis anuncios", banners_path %></li>
            <li><%= link_to "Historial Pagos", my_payments_path %></li>
          </ul>
        </li>
        <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <div class="text-left" style="padding-top: 8%;">
        <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-pink top-button", rel: 'nofollow' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="brand">
      <a class="" href="<%= root_path %>"><%= image_tag('logo_md.png', alt: "AdultGuia") %></a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="text-right" style="padding-top: 8%;">
      <a href="<%= current_user.present? ? new_post_url : anon_new_banner_path %>" class="btn new-post" rel="nofollow">Publicar tu anuncio</a>
    </div>
  </div>
</div>
