<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/es.js"></script>
-->

<script type="text/javascript">
  (function() {
    if (jQuery && jQuery.fn && jQuery.fn.select2 && jQuery.fn.select2.amd) var e = jQuery.fn.select2.amd;
    return e.define("select2/i18n/es", [], function() {
        return {
            errorLoading: function() {
                return "Buscando..."
            },
            inputTooLong: function(e) {
                var t = e.input.length - e.maximum,
                    n = "Por favor, elimine " + t + " car";
                return t == 1 ? n += "ácter" : n += "acteres", n
            },
            inputTooShort: function(e) {
                var t = e.minimum - e.input.length,
                    n = "Por favor, introduce " + t + " car";
                
                if(t == 1){ n += "acter más" }
                if(t == 2){ n += "acteres más" }
                if(t == 3){ n += "acteres" }

                return n
            },
            loadingMore: function() {
                return "Cargando más resultados…"
            },
            maximumSelected: function(e) {
                var t = "Sólo puede seleccionar " + e.maximum + " elemento";
                return e.maximum != 1 && (t += "s"), t
            },
            noResults: function() {
                return "No se encontraron resultados"
            },
            searching: function() {
                return "Buscando…"
            }
        }
    }), {
        define: e.define,
        require: e.require
    }
})();
</script>

<script>
  $(document).ready(function () {    
    $( "#q_category" ).select2({
      placeholder: 'Categoría',
      language: 'es'
    });

    $( ".remote-cities" ).select2({
      language: 'es',
      placeholder: 'Ciudad',
      ajax: {
        url: '/remote-cities',
        dataType: 'json',
        delay: 0,
        processResults: function (data) {
          return {
            results: data
          };
        },  
        cache: true
      },
      minimumInputLength: 3
    });

  });
</script>

<style>
  .select2-container{
    width: 100% !important;
  }

  .select2-selection{
    height: 34px !important;
  }

  .select2-container--default .select2-selection--single{
    border-radius: 0px !important;
    border: 0px !important;
  }
    
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 34px !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 32px !important;
  }
</style>
