<!DOCTYPE html>
<html lang="es">
<head>
  <%= display_meta_tags site: 'AdultGuia', reverse: true %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="exoclick-site-verification" content="eea3b2a0572e837ed07980c81cd2bc18">
  <%= yield :meta_robots -%>
  <%= yield :rel_canonical -%>
  <link rel="alternate" type="application/rss+xml" title="AdultGuia RSS Feed" href="<%= feed_url(format: 'rss') %>">
  <script src="https://use.fontawesome.com/94ede35191.js"></script>
  <script>
    window.x_app_country = '<%= Rails.configuration.x.app_country %>';
    window.x_user_country = '<%= @user_location %>';
  </script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
  <%= csrf_meta_tags %>

</head>
<body class="app <%= controller_name %> <%= action_name %>">

  <%= render 'layouts/country_modal' %>
  <%= content_for :modals %>

  <header>
    <div class="container">
      <div class="hidden-xs hidden-sm hidden-md">
        <%= render partial: 'layouts/header_desktop' %>
      </div>
      <div class="hidden-lg">
        <%= render partial: 'layouts/header_mobile' %>
      </div>
    </div><!-- container -->
    <div class="clearfix">
    <% if content_for?(:posts_search) %>
      <div class="posts-search">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <%= content_for :posts_search %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </header>

  <div id="page-body">
    <%= content_for :outside_container %>

    <% if flash.any? %>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= render 'layouts/flashes' %>
          </div>
        </div>
      </div>
    <% end %>
    
    <div class="container">
      <%= yield %>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="legal">
            <%= link_to "Aviso legal", aviso_legal_url, target: '_blank' %>
            <%= link_to "Política de privacidad y Cookies", politica_privacidad_url, target: '_blank' %>
            <%= link_to "Contacto", feedback_path, target: '_blank' %>
          </div>
          &copy; <%= Date.current.year %> AdultGuia. Todos los derechos reservados.
        </div>
      </div>
    </div>
  </footer>

  <!-- JS INIT -->
  <script src="/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:400,700']
      }
    });
  </script>

  <%= javascript_include_tag 'application' %>
  <%= content_for :js_init %>

  <%= render 'layouts/select2' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
  
  <script>
    $(document).ready(function () {
      $("#search-top-bar").show();
    });
  </script>

  <%= raw AppSetting.get('ga_tracking_code') %>

</body>
</html>
