<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>AdultGuia</title>
  <%= render 'layouts/mail_styles' %>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top" id="bodyCell">
          <!-- BEGIN TEMPLATE // -->
          <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
            <tr>
              <td align="center" valign="top">
                <!-- BEGIN HEADER // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                  <tr>
                    <td valign="top" class="headerContent" style="background:#ff4060; padding:20px 0 0 15px;">
                      <%= image_tag('logo_md.png', 'id'=>"headerImage") %>
                    </td>
                    <td align="right">
                      <%= yield :header_content %>
                    </td>
                  </tr>
                  <tr>
                    <td style="background:#ff4060">&nbsp;</td>
                  </tr>
                </table>
                <!-- // END HEADER -->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <!-- BEGIN BODY // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                  <tr>
                    <td valign="top" class="bodyContent">
                      <%= yield %>
                    </td>
                  </tr>
                </table>                                                            
                <!-- // END BODY -->
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <!-- BEGIN FOOTER // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="background:#f4f4f4">
                  <% if content_for? :mail_footer %>
                    <%= yield :mail_footer %>
                  <% else %>
                    <tr>
                      <td valign="top" class="footerContent" style="font-family:Verdana, sans-serif; text-align:center; font-size:11px; padding:20px;">
                        AdultGuia &copy; <%= Date.current.year %>. Todos los derechos reservados.<br>
                        <!-- Si no deseas recibir más este tipo de emails, <a href="#">haz click aquí</a>. -->
                      </td>
                    </tr>
                  <% end %>
                </table>
                <!-- // END FOOTER -->
              </td>
            </tr>
          </table>
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>
</html>