<!DOCTYPE html>
<html lang="es">
<head>
  <title>AdultGuia</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/94ede35191.js"></script>

  <%= stylesheet_link_tag    'super', media: 'all' %>
  <%= javascript_include_tag 'super' %>
  <%= csrf_meta_tags %>

</head>
<body class="super <%= controller_name %> <%= action_name %>">

  <% if current_super_user %>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-site-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= super_root_path %>">AdultGuia</a>
        </div>
        <div class="collapse navbar-collapse" id="main-site-nav">
            <ul class="nav navbar-nav">
              <li><%= link_to "Usuarios", super_users_path %></li>
              <li><%= link_to "Anuncios", super_banners_path %></li>
              <li><%= link_to "Transacciones", super_payments_path %></li>
              <li><%= link_to "Categorias", super_banner_categories_path %></li>
              <li><%= link_to "Textos HTML", super_html_texts_path %></li>
              <li><%= link_to "Banners", super_image_banners_path %></li>
              <li><%= link_to "Banners Externos", super_external_banners_path %></li>
              <li><%= link_to "Tipos de pago", super_payment_types_path %></li>
              <li><%= link_to "Admins", super_super_users_path %></li>
              <li><%= link_to "Config", super_app_settings_path %></li>
              <li><%= link_to "Reportes", super_reports_path %></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/flashes' %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <%= content_for :js_init %>

</body>
</html>
